{extends file="layout.tpl"}

{block name="full_with_block"}
    {hook name="full_with_block.diyratgeber"}
    <div class="main" id="diyratgeber">
    <div data-artikelthreecategories="" data-nomorelink="true">  <div class="outer-container bg-gray hr-gradient as-bg">
            <div class="contact_persons">
                <h3><span>DO IT YOURSELF</span></h3>
                <div class="row">
                    <div class="media-wrapper col-sm-4">
                        <div class="media">
                            <div id="carouselpicture2">
                                <img class="media-object" >
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading top"><strong>DO IT YOURSELF</strong></h5>
                                <h3 class="head media-head">WC-Sitz montieren</h3>
                                <p class="media-text">Du willst deinen alten WC-Sitz austauschen oder baust ein neues WC? 
                                    Es gibt eine vielzahl von Modellen, die jedoch alle sehr ähnlich in der Montage sind.
                                    Mit unserer DIY... </p>
                                <a href="wc-sitz-montieren" class="raquo">» ARTIKEL LESEN</a>
                            </div>
                        </div>
                    </div>
                    <div class="media-wrapper col-sm-4">
                        <div class="media">
                            <div id="carouselpicture1">
                                <img class="media-object" >
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading top"><strong>DO IT YOURSELF</strong></h5>
                                <h3 class="head media-head" >Waschtischarmaturen montieren</h3>
                                <p  class="media-text">Die alte Armatur macht Probleme und gehört ausgetauscht. Damit dir das einfach gelingt, haben wir eine einfache Schritt-Für-Schritt-Anleitung für dich.</p>
                                <a href="waschtischarmaturen-montieren" class="raquo">» ARTIKEL LESEN</a>
                            </div>
                        </div>
                    </div>
                    <div class="media-wrapper col-sm-4">
                        <div class="media">
                            <div id="carouselpicture3">
                                <img class="media-object"  >
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading top"><strong>DO IT YOURSELF</strong></h5>
                                <h3 class="head media-head" >Duschschlauch wechseln</h3>
                                <p class="media-text">Dein Duschschlauch hat ein Loch, ist verkalkt oder nicht mehr schön?
                                    Mit unseren Tipps kannst du deinen Duschschlauch in nur wenigen Minuten tauschen.
                                </p>
                                <a href="duschschlauch-wechseln" class="raquo">» ARTIKEL LESEN</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{* Breadcrumb *}
{block name='breadcrumb'}{/block}

{* Body Class *}
{block name="body-class"}page-doit{/block}
{block name="main-content"}
    
{/block}

{block name="stylesheet"}
{hook name="register.stylesheet"}
{stylesheets file='assets/dist/css/easybadsogehts.css'}
<link rel="stylesheet" href="{$asset_url}">
{/stylesheets}
{/block}
{block name="after-javascript-include"}
{hook name="register.after-javascript-include"}
{/block}
{block name="javascript-initialization"}
{hook name="register.javascript-initialization"}
{/block}