{block name="stylesheet"}

{stylesheets file='assets/dist/css/owl.carousel.min.css' source='HookHomepage'}
<link rel="stylesheet" href="{$asset_url}">
{/stylesheets}

{stylesheets file='assets/dist/css/theme.css' source='HookHomepage'}
<link rel="stylesheet" href="{$asset_url}">
{/stylesheets}

{/block}
<!--======= Carousel icons -->
<div class="landing-page">
    <div class="" id="carousel-icons" >
        <div class="">
            <div class="owl-icons-wrapper">
                <!-- === header === -->
                <div >
                    <div class="owl-icons">
                        <!-- === icon item === -->
                        <a href="/badkeramik-2.html">
                            <figure>
                                <img src="{image file='assets/dist/img/kategorie-bilder/badkeramik.png' source='HookHomepage'}" class="" alt="badkeramik"/>
                                <figcaption>Badkeramik</figcaption>
                            </figure>
                        </a>
                        <!-- === icon item === -->
                        <a href="/badearmaturen.html">
                            <figure>
                                <img src="{image file='assets/dist/img/kategorie-bilder/badarmatur.png' source='HookHomepage'}" class="" alt="badarmatur"/>
                                <figcaption>Badarmaturen</figcaption>
                            </figure>
                        </a>
                        <!-- === icon item === -->
                        <a href="/badewannen.html">
                            <figure>
                                <img src="{image file='assets/dist/img/kategorie-bilder/badewanne.png' source='HookHomepage'}" class="" alt="badewanne"/>
                                <figcaption>Badewannen</figcaption>
                            </figure>
                        </a>
                        <!-- === icon item === -->
                        <a href="/kuechenarmatur.html">
                            <figure>
                                <img src="{image file='assets/dist/img/kategorie-bilder/kuechenarmaturen.png' source='HookHomepage'}" class="" alt="kuechenarmaturen"/>
                                <figcaption>Küchenarmaturen</figcaption>
                            </figure>
                        </a>
                        <!-- === icon item === -->
                        <a href="/bad-accessoires.html">
                            <figure>
                                <img src="{image file='assets/dist/img/kategorie-bilder/badaccessoires.png' source='HookHomepage'}" class="" alt="badaccessoires"/>
                                <figcaption>Badaccessoires</figcaption>
                            </figure>
                        </a>
                        <!-- === icon item === -->
                        <a href="/pumpen-1.html">
                            <figure>
                                <img src="{image file='assets/dist/img/kategorie-bilder/pumpen.png' source='HookHomepage'}" class="" alt="pumpen"/>
                                <figcaption>Pumpen</figcaption>
                            </figure>
                        </a>
                        <!-- === icon item === -->
                        <a href="/heizung-1.html">
                            <figure>
                                <img src="{image file='assets/dist/img/kategorie-bilder/heizung.png' source='HookHomepage'}" class="" alt="heizung"/>
                                <figcaption>Heizung</figcaption>
                            </figure>
                        </a>
                        <!-- === icon item === -->
                        <a href="/klima-2.html">
                            <figure>
                                <img src="{image file='assets/dist/img/kategorie-bilder/klima.png' source='HookHomepage'}" class="" alt="klima"/>
                                <figcaption>Klima</figcaption>
                            </figure>
                        </a>
                    </div> <!--/owl-icons-->
                </div>
            </div>
        </div>
    </div>

    <!--======= Carousel icons -->
    <div class="panel panel-default" id="carousel-icons">
        <div>
            <h2 class="title">Die besten Schnäppchen ★</h2>
        </div>
        <div class="panel-body">
            <div class="owl-icons-wrapper">
                <!-- === header === -->
                <header class="hidden">
                    <h2>Die besten Schnäppchen ★</h2>
                </header>
                <div class="">
                    <div class="product-slider">
                        {loop name="selection_product" type="selection_product_related" selection_id=2}
                            <article class="col-main {$smarty.get.mode|default:"grid"}" role="main">
                                    <div id="category-products">
                                        <div class="products-content">
                                            {loop name="product.details" type="product" id=$PRODUCT_ID}
                                                {include file="includes/single-product.html" hasBtn=true hasDescription=false hasQuickView=false width="819" height="819" colClass="slider-spacing"}
                                            {/loop}
                                        </div>
                                    </div>
                            </article>
                        {/loop}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8" style="float: none;margin: 0 auto;">
            <div>
                <h2 class="title">Top-Angebot</h2>
            </div>
            <a href="/mono-split-sdh-17-025nw.html">
                <img src="{image file='assets/dist/img/top-angebot_1506.png' source='HookHomepage'}" class="img-responsive" alt="top-angebot"/>
            </a>
        </div>
    </div>
    
    <div class="panel panel-default" id="carousel-icons">
        <div>
            <h2 class="title">Unsere Bestseller</h2>
        </div>
        <div class="panel-body">
            <div class="owl-icons-wrapper">
                <!-- === header === -->
                <header class="hidden">
                    <h2>Top Hersteller</h2>
                </header>
                <div class="">
                    <div class="product-slider">
                        {loop name="selection_product" type="selection_product_related" selection_id=1}
                            <article class="col-main {$smarty.get.mode|default:"grid"}" role="main">
                                <div id="category-products">
                                    <div class="products-content">
                                        {loop name="product.details" type="product" id=$PRODUCT_ID}
                                        {include file="includes/single-product.html" hasBtn=false hasDescription=false hasQuickView=false width="819" height="819" colClass="slider-spacing"}
                                        {/loop}
                                    </div>
                                </div>
                            </article>
                        {/loop}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========================  Stretcher widget ======================== -->
    <section class="stretcher-wrapper">
        <!-- === stretcher === -->
        <ul class="stretcher">
            <!-- === stretcher item === -->
            <a href="/kueche.html">
                <li class="stretcher-item" style="background-image:url({image file='assets/dist/img/kueche.png' source='HookHomepage'});">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="kategorie-kueche"></span>
                            <span class="text-intro">Küche</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Marken Armaturen zum Top-Preis</h4>
                    </figure>
                </li>
            </a>

            <a href="/sanitaer.html">
                <li class="stretcher-item" style="background-image:url({image file='assets/dist/img/bad.png' source='HookHomepage'});">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="kategorie-bad"></span>
                            <span class="text-intro">Badezimmer</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Badarmaturen, Badkeramik, Badmöbel..</h4>
                        <figcaption>stark verbilligt</figcaption>
                    </figure>
                </li>
            </a>
            <!-- === stretcher item === -->

            <a href="/klima.html">
                <li class="stretcher-item" style="background-image:url({image file='assets/dist/img/klima.png' source='HookHomepage'});">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="kategorie-klima"></span>
                            <span class="text-intro">Klima</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Innengeräte, Aussengeräte, Zubehör...</h4>    
                    </figure>
                </li>
            </a>

            <!-- === stretcher item === -->
            <a href="/heizung-2.html">
                <li class="stretcher-item" style="background-image:url({image file='assets/dist/img/heizung.png' source='HookHomepage'});">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="kategorie-heizung"></span>
                            <span class="text-intro">Heizung</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Kleinspeicher, Heizkörper..</h4>

                    </figure>
                </li>
            </a>
            <!-- === stretcher item === -->
        </ul>
    </section>

    <!-- ========================  Banner ======================== -->
    <section class="parallax-banner">
        <!--footer showroom-->
        <div class="footer-showroom">
            <div class="row">
                <div class="col-sm-7">
                    <h2>Besuchen Sie unser Outlet</h2>
                    <h2>Eröffnung am 22. Juni</h2>
                    <p><strong>800m2 - 1500 Artikeln - bis zu 80% Rabatt und nur Markenware.</strong>

                    <p><small>Auf einer Fläche  800m2 stehen dem Endkunden mehr 1500 Artikeln bis zu 80% reduziert zur Verfügung.</small></p>
                    <br>
                    <p><span class="contact-address"></span>Wienerstraße 111-115, 
                        2700 Wiener Neustadt, Österreich</p>
                    <p>Mo-Fr: 11-18 Uhr | Sa: 10-14 Uhr</p>
                </div>
                <div class="col-sm-5">
                    <img src="{image file='assets/dist/img/outlet.png' source='HookHomepage'}" class="img-responsive" alt="outlet"/>
                </div>
            </div>
        </div>
    </section>
</div>	

<!---------VORTEILE------------>
<div class="row" style="background-color: #f3f5f8">
    <div class="advantages">
        <div class="col col-xs-15 col-sm-15 col-md-15 col-lg-15">
            <span class="vorteile icon-delivery  fa-flip-horizontal"></span>
            <div class="text">{intl l="KOSTENLOSE"}<br>{intl l="LIEFERUNG"}</div>
        </div>
        <div class="col col-xs-15 col-sm-15 col-md-15 col-lg-15">
            <span class="vorteile icon-calendar  fa-flip-horizontal"></span>
            <div class="text">{intl l="TERMINE"}<br>{intl l="ONLINE BUCHEN"}</div>
        </div>
        <div class="col col-xs-15 col-sm-15 col-md-15 col-lg-15">
            <span class="vorteile icon-punktual  fa-flip-horizontal"></span>
            <div class="text">{intl l="GARANTIERTE"}<br>{intl l="PÜNKTLICHKEIT"}</div>
        </div>
        <div class="col col-xs-15 col-sm-15 col-md-15 col-lg-15">
            <span class="vorteile icon-jahre  fa-flip-horizontal"></span>
            <div class="text">{intl l="40 JAHRE"}<br>{intl l="ERFAHRUNG"}<br><small>{intl l="IM HEIZUNGSBEREICH"}</small></div>
        </div>
        <div class="col col-xs-15 col-sm-15 col-md-15 col-lg-15">
            <span class="vorteile icon-beratung  fa-flip-horizontal"></span>
            <div class="text">{intl l="KOSTENLOSE"}<br>{intl l="BERATUNG"}</div>
        </div>
    </div>
</div>