<script>

window.onload = function() {
	$( '#amazon-service-orders-btn' ).click(function() {
		
	     $.getJSON("{url path='/admin/module/amazonintegration/service-orders'}")
	     .done(function (data) {
	       jsonSuccessLoad(data);

	     })
	     .fail(jsonFailLoad);
		
	 	});

	  function jsonFailLoad(data) {
	     $('#jqplot').html('<div class="alert alert-danger">An error occurred while reading from JSON file</div>');
	  }

	  function jsonSuccessLoad(data) {
		  $('#resp-status-service').text(data.Status);
		  $('#resp-timestamp-service').text(data.Timestamp);
		  $('#resp-messages-service').text(data.Messages);
	  }
	  
	$( '#amazon-service-products-btn' ).click(function() {
		
	     $.getJSON("{url path='/admin/module/amazonintegration/service-products'}")
	     .done(function (data) {
	       jsonSuccessLoad(data);

	     })
	     .fail(jsonFailLoad);
		
	 	});

	$( '#amazon-service-feeds-btn' ).click(function() {
		
		  $('#resp-status-service').text("Is not implement yet. ;) ");
		  $('#resp-timestamp-service').text("");
		  $('#resp-messages-service').text("");
 	});

 	$( '#get_update_orders' ).click(function() {
 		getAndUpdateOrders();
 	});

 	
 	initDatepiker();
 	sortByDate();
 	
 	filterMarketplace();
 	filterBrand();
 	filterSentAmazon(); 

}

var productsId = [];

function checkRadio(id, nr)
{
	console.clear();
	var previousValue = $('#radio_' + id + nr).attr('storedValue');
    if (previousValue == "true")
	{
      	$('#radio_' + id + nr).prop('checked', false);
      	$('#radio_' + id + nr).attr('storedValue', false);
      	var index = productsId.indexOf(id);
      	if (index > -1) {
      		productsId.splice(index, 1);
		}
      	$('#radioChecked').val(productsId);
      	$('#price_' + id + nr).attr('name', '');
      	$('#quantity_' + id + nr).attr('name', '');

    }
    else
   	{
      	productsId.push(id);
      	$('#price_' + id + nr).attr('name', 'price_' + id);
      	$('#quantity_' + id + nr).attr('name', 'quantity_' + id);
      	$('#radio_' + id + nr).prop('checked', true);
      	$('#radio_' + id + nr).attr('storedValue', 'true');
      	$('#radioChecked').val(productsId);
      	
   	}
}

function changePriceOrQuantity(id, nr)
{
 	if ($('#price_' + id + nr).val() && $('#quantity_' + id + nr).val())
 		$('#radio_' + id + nr).attr("disabled", false);
 	else
	{
 		$('#radio_' + id + nr).attr("disabled", true);
      	$('#radio_' + id + nr).prop('checked', false);
      	var index = productsId.indexOf(id);
      	if (index > -1) {
      		productsId.splice(index, 1);
      		$('#radioChecked').val(productsId);
		}
	}
 	
}

</script>