{assign page {$smarty.get.page|default:1}}
<div class="tab-pane fade {if $order_tab == 'amazon-feeds'}active in{/if}" id="amazon-feeds">
	<div class="table-responsive">
		<br><br>
		{form name="amazonintegration.rankings.form"}
			<form action="{url path='/admin/module/amazonintegration/save-ranking'}" method="post">
				
				{form_hidden_fields form=$form}

                {if $form_error}
                	<div class="alert alert-danger">{$form_error_message}</div>
                {/if}
                
                {form_field form=$form field='success_url'}
                	<input type="hidden" name="{$name}" value="{url path='admin/module/amazonintegration#amazon-feeds'}" />
                {/form_field}
                                      
				{form_field form=$form field="reference"}
				 	<label for="{$label_attr.for}">
		            	{$label} :
		           	</label>
                    <input type="text" name="{$name}" id="{$label_attr.for}" checked class="form-control"/>
                {/form_field}
				<br>
				<button type="submit" class="btn btn-primary action-btn" title="{intl l='Add product ref'}" >
					<span class="glyphicon glyphicon-plus-sign"></span>
				</button>
	    	</form>
		{/form}
                
                <div style="padding-top: 20px;">
                    <form action="{url path='/admin/module/amazonintegration/get-all-products-for-save-ranking'}" method="post">
                        <button type="submit" class="btn btn-primary action-btn" title="{intl l='Get ranking for all hausfabrik products'}" >
                            <span>Get ranking for all hausfabrik products </span>
                        </button>
                    </form>
                </div>
                
		<br><br>
		{ifloop rel="amazon_ranking"}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Product id</th>
						<th>Ref</th>
						<th>Asin</th>
						<th>Ranking</th>
						<th>Lowest price</th>
						<th>List price</th>
						<th>Category Id</th>
						<th>Category Hierarchy</th>
					</tr>
				</thead>
				<tbody>  
					{loop type="amazon_ranking" name="amazon_ranking" page={$page} limit=50}
					   	<tr>
							<td>{if $PRODUCT_ID != 0}{$PRODUCT_ID}{else}Not in HF{/if}</td>
							<td>{$REF}</td>
							<td>{$ASIN}</td>
							<td>{if $RANKING != 0}{$RANKING}{else}Without ranking{/if}</td>
							<td>{if $LOWEST_PRICE}{$LOWEST_PRICE}{else}Currently unavailable{/if}</td>
							<td>{if $LIST_PRICE}{$LIST_PRICE}{else}Currently unavailable{/if}</td>
							<td>{$CATEGORY}</td>
							<td> {loop type="amazon_product_categories" name="amazon_product_categories" category=$CATEGORY}{$ID}{/loop} </td>
						</tr>
	              	{/loop}					
	             </tbody>
	             <tfoot>
	             	 <tr>
		                 <td colspan="100">
		                     {include
		                     file = "includes/pagination.html"
		                     loop_ref       = "amazon_ranking"
		                     max_page_count = 10
		                     page_url       = {url path="/admin/module/amazonintegration?tab=amazon-feeds" }
		                     }
		                 </td>
		             </tr>
		         </tfoot>
	    	</table>
    	{/ifloop}
	</div>
</div>

