
<div class="tab-pane fade  {if $order_tab == 'amazon-service'}active in{/if}" id="amazon-service">
	<div class="table-responsive">
		</br> </br>
		<div class="container">
			<button id="amazon-service-products-btn" type="button" class="btn btn-default">Get service
				for Products</button>
			<button id="amazon-service-orders-btn" type="button"
				class="btn btn-default">Get service for Orders</button>
			<button id="amazon-service-feeds-btn" type="button" class="btn btn-default">Get service
				for Feeds</button>
		</div>
		</br>
		<div class="list-group">
			<a href="#" id="resp-status-service" class="list-group-item disabled">Status</a>
			<a href="#" id="resp-timestamp-service" class="list-group-item">Time</a>
			<a href="#" id="resp-messages-service" class="list-group-item">Message</a>
		</div>
	</div>
</div>