{assign page {$smarty.get.page|default:1}}

<div class="tab-pane fade  {if $order_tab == 'amazon-orders'}active in{/if}" id="amazon-orders">

	<div class="">

		<div class="test-florin" >
			<button type="button" class="btn btn-info">Get and Update Orders</button>


		</div>

		<p>Orders from amazon:</p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>AmazonOrderId</th>
					<th>SellerOrderId</th>
					<th>PurchaseDate</th>
					<th>LastUpdateDate</th>
					<th>OrderStatus</th>
					<th>SalesChannel</th>
					<th>OrderTotal</th>
				</tr>
			</thead>
			<tbody>  
          	   {loop name="amazon_orders_listing" type="amazon_orders_listing" page={$page} limit=20}
               <tr>
					<td>{$id}</td>
					<td>{$seller_order_id}</td>
					<td>{$purchase_date}</td>
					<td>{$last_update_date}</td>
					<td>{$order_status}</td>
					<td>{$ship_service_level}</td>
					<td>{$order_total_amount} {$order_total_currency_code}</td>
				</tr>
                 
               {/loop}
               </tbody>
                
            </table>
         <tfoot>
             <tr>
                 <td colspan="100">
                     {include
                     file = "includes/pagination.html"
                     loop_ref       = "amazon_orders_listing"
                     max_page_count = 20
                     page_url       = {url path="/admin/module/amazonintegration" }
                     }
                 </td>
             </tr>
         </tfoot>
	</div>
</div>