<script>

window.onload = function() {
	$( '#amazon-service-orders-btn' ).click(function() {
		
	     $.getJSON("{url path='/admin/module/amazonintegration/service-orders'}")
	     .done(function (data) {
	       jsonSuccessLoad(data);

	     })
	     .fail(jsonFailLoad);
		
	 	});

	  function jsonFailLoad(data) {
	     $('#jqplot').html('<div class="alert alert-danger">An error occurred while reading from JSON file</div>');
	  }

	  function jsonSuccessLoad(data) {
		  $('#resp-status-service').text(data.Status);
		  $('#resp-timestamp-service').text(data.Timestamp);
		  $('#resp-messages-service').text(data.Messages);
	  }
	  
	$( '#amazon-service-products-btn' ).click(function() {
		
	     $.getJSON("{url path='/admin/module/amazonintegration/service-products'}")
	     .done(function (data) {
	       jsonSuccessLoad(data);

	     })
	     .fail(jsonFailLoad);
		
	 	});

	$( '#amazon-service-feeds-btn' ).click(function() {
		
		  $('#resp-status-service').text("Is not implement yet. ;) ");
		  $('#resp-timestamp-service').text("");
		  $('#resp-messages-service').text("");
	 	});
}

</script>