
<div class="tab-pane fade active in" id="amazon-orders">

	<div class="">
		<h2>Dashboard Orders</h2>
		<p>Orders from amazon:</p>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>AmazonOrderId</th>
					<th>PurchaseDate</th>
					<th>OrderStatus</th>
					<th>SalesChannel</th>
					<th>OrderTotal</th>
					<th>MarketplaceId</th>
				</tr>
			</thead>
			<tbody>
				{foreach from=$orders item=order}
				<tr>
					<td>{$order.AmazonOrderId}</td>
					<td>{$order.PurchaseDate}</td>
					<td><span>{$order.OrderStatus}</span></td>
					<td>{$order.SalesChannel}</td>
					<td>{$order.OrderTotal}</td>
					<td>{$order.MarketplaceId}</td>
				</tr>
				{/foreach}
			</tbody>
		</table>
	</div>
</div>