{extends file="layout.tpl"}

{block name="main-content"}

<div class="main">

    <article class="col-main  {$smarty.get.mode|default:"grid"}"  role="main" aria-labelledby="main-label">
        <div id="category-products">
            <div class="products-content">
                <img class="img-top-banner" src="assets/frontOffice/default/Front/assets/dist/img/top-banner.png" alt="top-banner.png"/>
                {ifloop rel="product_list"}
                    <ul class="list-unstyled row">
                        {loop type="product" name="product_list" id="11050, 4805, 16307, 11081, 11139, 5024" limit=6}
                            {include file="includes/single-product.html" product_id=$ID hasBtn=true hasDescription=true width="819" height="819"}
                        {/loop}
                    </ul>
                {/ifloop}
            </div>
            <img class="img-f-banner" src="assets/frontOffice/default/Front/assets/dist/img/f-banner.png" alt="f-banner.png"/>
        </div><!-- /#category-products -->
    </article>

</div><!-- /.layout -->
{/block}