{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
{$admin_current_location = 'Partner Product edit'}
{/block}

{block name="page-title"}{intl l='Partner Product edit'}{/block}

{block name="main-content"} 
{render action='RevenueDashboard\Controller\Admin\WholesalePartnerContactController::blockJs'}
<table class="table table-striped">
    <tr>
        {form name="revenue.partner.product.form"}
    <form action="{url path='/admin/module/revenue-wholesale-partner-product-edit'}" method="post">

        {form_hidden_fields form=$form}
        <td style="display: none;">{render_form_field form=$form field="id" value=$id}</td>
        <td>{render_form_field form=$form field="product_id" value=$product_id}</td>
        <td style="display: none;">{render_form_field form=$form field="partner_id" value=$partner_id}</td>
        <td class="col-md-1">
            <div class="form-group ">
                <label for="" class="control-label">
                    Partner  <span class="required">*</span>
                </label>
                <select class="filter partner-name form-control">
                    <option value="">Select Partner</option>
                    {loop name="revenue.partner.loop" type="revenue.partner.loop"}
                    <option value="{$id}" {if $id == $partner_id }selected{/if}>{$partnerName}</option>
                    {/loop}
                </select>
            </div>
        </td>
        <td>{render_form_field form=$form field="price" value=$price}</td>
        <td>{render_form_field form=$form field="package_size" value=$package_size}</td>
        <td>{render_form_field form=$form field="delivery_cost" value=$delivery_cost}</td>
        <td>{render_form_field form=$form field="discount" value=$discount}</td>
        <td>{render_form_field form=$form field="discount_description" value=$discount_description}</td>
        <td>{render_form_field form=$form field="profile_website" value=$profile_website}</td>
        <td>{render_form_field form=$form field="position" value=$position}</td>
        <td>{render_form_field form=$form field="department" value=$department}</td>
        <td>{render_form_field form=$form field="comment" value=$comment}</td>
        <td>{render_form_field form=$form field="valid_until" value=$valid_until}</td>
        <td>
            <button type="submit" name="save_mode" value="edit-partner-product"
                    class="form-submit-button btn btn-sm btn-default btn-success"
                    title="{intl l="Save"}">
                    {intl l="Save"} <span class="glyphicon glyphicon-ok"></span>
            </button>
        </td>

    </form>
    {/form}

    <form action="{url path='/admin/module/revenue-wholesale-partner-product'}" method="post">

        <td>
            <button type="submit" name="save_mode"
                    class="form-submit-button btn btn-sm btn-default btn-success"
                    title="{intl l="Close"}">
                    {intl l="Close"} <span class="glyphicon glyphicon-ok"></span>
            </button>
        </td>

    </form>

</tr>
</table>
{/block}