<script>

    window.onload = function () {

        $(".customer-title").change(function () {
            $('#partnercontactform-id-title').val($(".customer-title").val());
        });

        $(".contact-person").change(function () {
            $('#partnerform-id-contact_person').val(
                    $(".contact-person").val());
        });

        $(".partner-name").change(function () {
            $('#partnerproductform-id-partner_id').val(
                    $(".partner-name").val());
        });

        $(function () {

            $("#partnerproductform-id-valid_until").datepicker({
                onSelect: function (date) {
                }});

        });
    }
</script>