<script>

    window.onload = function () {

        $(".customer-title").change(function () {
            $('#partnercontactform-id-title').val($(".customer-title").val());
        });

        $(".contact-person").change(function () {
            $('#partnerform-id-contact_person').val(
                    $(".contact-person").val());
        });

        $(".partner-name").change(function () {
            $('#partnerproductform-id-partner_id').val(
                    $(".partner-name").val());
        });

        $(function () {

            $("#partnerproductform-id-valid_until").datepicker({
                onSelect: function (date) {
                }});

        });


        var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function (i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });

                cb(matches);
            };
        };

        var products = $.ajax("/admin/module/revenue-wholesale-partner-product-getproducts")
                .done(function (data) {
//                    alert("success");
                    console.log(data);
                })
                .fail(function () {
//                    alert("error");
                })
                .always(function () {
//                    alert("complete");
                });
        
        var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
            'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
            'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
            'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
            'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
            'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
            'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
            'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
            'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
        ];

        $('#the-basics .typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        },
                {
                    name: 'states',
                    source: substringMatcher(states)
                });

    }


</script>