{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='Partners Contact'}{/block}

{block name="main-content"} 
{render action='RevenueDashboard\Controller\Admin\WholesalePartnerContactController::blockJs'}
<div class="general-block-decorator dashboard">
    {include file = "menu-links.html"}

    <table class="table table-striped">
        <tbody>
            <tr>
                {form name="revenue.partner.contact.form"}
        <form action="{url path='/admin/module/revenue-wholesale-partner-contact-add'}" method="post">
            {form_hidden_fields form=$form}
            {if $form_error}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">{$form_error_message}</div>
                </div>
            </div>
            {/if}
            <td>#</td>
            <td style="display: none;">{render_form_field form=$form field="title" value=$title}</td>
            <td>
                <div class="form-group ">
                    <label for="" class="control-label">
                        Title  <span class="required">*</span>
                    </label>
                    <select class="filter customer-title form-control">
                        <option value="">Select Title</option>
                        {loop name="revenue.customer.title.loop" type="revenue.customer.title.loop"}
                        <option value="{$id}">{$long}</option>
                        {/loop}
                    </select>
                </div>
            </td>
            <td>{render_form_field form=$form field="firstname" value=$firstname}</td>
            <td>{render_form_field form=$form field="lastname" value=$lastname}</td>
            <td>{render_form_field form=$form field="telefon" value=$telefon}</td>
            <td>{render_form_field form=$form field="email" value=$email}</td>
            <td>{render_form_field form=$form field="profile_website" value=$profile_website}</td>
            <td>{render_form_field form=$form field="position" value=$position}</td>
            <td>{render_form_field form=$form field="department" value=$department}</td>
            <td>{render_form_field form=$form field="comment" value=$comment}</td>
            <td>
                <button type="submit" class="btn btn-primary action-btn"
                        title="{intl l='Add'}" data-toggle="modal">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
            </td>
        </form>
        {/form}
        </tr>
    </table>
    <div class="txt-div" >
        <table class="table table-striped">
            {assign var="nr" value="1"}
            <tr style="font-weight: bold">
                <td class="col-md-1">No.</td>
                <td class="col-md-1">Title</td>
                <td class="col-md-2">First name</td>
                <td class="col-md-1">Last name</td>
                <td class="col-md-1">Telefon</td>
                <td class="col-md-1">Email</td>
                <td class="col-md-1">Profile/Website</td>
                <td class="col-md-1">Position</td>
                <td class="col-md-1">Department</td>
                <td class="col-md-1">Comment</td>
                <td class="col-md-1">Action</td>
            </tr>
            {loop name="revenue.partner.contact.loop" type="revenue.partner.contact.loop" limit=50}
            <tr>
                <td class="col-md-1">{$nr++}.</td>
                <td class="col-md-1">{$titleName}</td>
                <td class="col-md-2">{$firstname}</td>
                <td class="col-md-1">{$lastname}</td>
                <td class="col-md-1">{$telefon}</td>
                <td class="col-md-1">{$email}</td>
                <td class="col-md-1">{$profile_website}</td>
                <td class="col-md-1">{$position}</td>
                <td class="col-md-1">{$department}</td>
                <td class="col-md-1">{$comment}</td>
                <td class="col-md-1">
                    {form name="revenue.partner.contact.form"}
                    <form action="{url path='/admin/module/revenue-wholesale-partner-contact-edit'}" method="post">
                        <button type="submit" name="save_mode" value="stay"
                                class="form-submit-button btn btn-sm btn-default btn-success"
                                title="{intl l="Edit"}">
                                {intl l="Edit"} <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        {form_hidden_fields form=$form}
                        <td style="display: none;">{render_form_field form=$form field="id" value=$id}</td>
                        <td style="display: none;">{render_form_field form=$form field="title" value=$title}</td>
                        <td style="display: none;">{render_form_field form=$form field="firstname" value=$firstname}</td>
                        <td style="display: none;">{render_form_field form=$form field="lastname" value=$lastname}</td>
                        <td style="display: none;">{render_form_field form=$form field="telefon" value=$telefon}</td>
                        <td style="display: none;">{render_form_field form=$form field="email" value=$email}</td>
                        <td style="display: none;">{render_form_field form=$form field="profile_website" value=$profile_website}</td>
                        <td style="display: none;">{render_form_field form=$form field="position" value=$position}</td>
                        <td style="display: none;">{render_form_field form=$form field="department" value=$department}</td>
                        <td style="display: none;">{render_form_field form=$form field="comment" value=$comment}</td>

                    </form>
                    {/form}
                </td>
                <td class="col-md-1">
                    {form name="revenue.partner.contact.form"}
                    <form action="{url path='/admin/module/revenue-wholesale-partner-contact-delete'}"
                          method="post">
                        {form_hidden_fields form=$form}
                        <button type="submit" class="btn btn-danger action-btn"
                                title="{intl l='Delete partner'}" data-toggle="modal">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <td style="display: none;">{render_form_field form=$form field="id" value=$id}</td>
                        <td style="display: none;">{render_form_field form=$form field="title" value=$title}</td>
                        <td style="display: none;">{render_form_field form=$form field="firstname" value=$firstname}</td>
                        <td style="display: none;">{render_form_field form=$form field="lastname" value=$lastname}</td>
                        <td style="display: none;">{render_form_field form=$form field="telefon" value=$telefon}</td>
                        <td style="display: none;">{render_form_field form=$form field="email" value=$email}</td>
                        <td style="display: none;">{render_form_field form=$form field="profile_website" value=$profile_website}</td>
                        <td style="display: none;">{render_form_field form=$form field="position" value=$position}</td>
                        <td style="display: none;">{render_form_field form=$form field="department" value=$department}</td>
                        <td style="display: none;">{render_form_field form=$form field="comment" value=$comment}</td>
                    </form>
                    {/form}
                </td>
            </tr>
            {/loop}
            </tbody>
        </table>
    </div>
</div>
{/block}