{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
{$admin_current_location = 'Partners Product'}
{/block}

{block name="page-title"}{intl l='Partners Product'}{/block}

{block name="main-content"} 
{render action='RevenueDashboard\Controller\Admin\WholesalePartnerContactController::blockJs'}
{assign page {$smarty.get.page|default:1}}

<div class="general-block-decorator dashboard">
    <ul class="breadcrumb">
        <li><a href="{url path='/admin/modules'}">{intl l="Modules"}</a></li>
        <li><a href="{url path='/admin/module/revenue-products'}">{intl l="Revenue Products"}</a></li>
        <li><a href="{url path='/admin/module/revenue-orders'}">{intl l="Revenue Orders"}</a></li>
        <li><a href="{url path='/admin/module/revenue-wholesale-partner'}">{intl l="Partner"}</a></li>
        <li><a href="{url path='/admin/module/revenue-wholesale-partner-contact'}">{intl l="Partner Contact"}</a></li>
        <li><a href="{url path='/admin/module/revenue-wholesale-partner-product'}">{intl l="Partner Product"}</a></li>
    </ul>

    <table class="table table-striped">
            <tr>
                {form name="revenue.partner.product.form"}
        <form action="{url path='/admin/module/revenue-wholesale-partner-product-add'}" method="post">
            {form_hidden_fields form=$form}
            {if $form_error}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">{$form_error_message}</div>
                </div>
            </div>
            {/if}
            <td>#</td>
            <td>{render_form_field form=$form field="product_id" value=$product_id}</td>
            <td style="display: none;">{render_form_field form=$form field="partner_id" value=$partner_id}</td>
            <td class="col-md-1">
                <div class="form-group ">
                    <label for="" class="control-label">
                        Partner  <span class="required">*</span>
                    </label>
                    <select class="filter partner-name form-control">
                        <option value="">Select Partner</option>
                        {loop name="revenue.partner.loop" type="revenue.partner.loop"}
                        <option value="{$id}">{$partnerName}</option>
                        {/loop}
                    </select>
                </div>
            </td>
            <td>{render_form_field form=$form field="price" value=$price}</td>
            <td>{render_form_field form=$form field="package_size" value=$package_size}</td>
            <td>{render_form_field form=$form field="delivery_cost" value=$delivery_cost}</td>
            <td>{render_form_field form=$form field="discount" value=$discount}</td>
            <td>{render_form_field form=$form field="discount_description" value=$discount_description}</td>
            <td>{render_form_field form=$form field="profile_website" value=$profile_website}</td>
            <td>{render_form_field form=$form field="position" value=$position}</td>
            <td>{render_form_field form=$form field="department" value=$department}</td>
            <td>{render_form_field form=$form field="comment" value=$comment}</td>
            <td>{render_form_field form=$form field="valid_until" value=$valid_until}</td>
            <td>
                <button type="submit" class="btn btn-primary action-btn"
                        title="{intl l='Add'}" data-toggle="modal">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
            </td>
        </form>
        {/form}
        </tr>
    </table>
    <div class="txt-div" >
        <table class="table table-striped">
            {assign var="nr" value="1"}
            <tr style="font-weight: bold">
                <td class="col-md-1">No.</td>
                <td class="col-md-1">Product id</td>
                <td class="col-md-1">Partner</td>
                <td class="col-md-2">Price</td>
                <td class="col-md-1">Package size</td>
                <td class="col-md-1">Delivery cost</td>
                <td class="col-md-1">Discount</td>
                <td class="col-md-1">Discount description</td>
                <td class="col-md-1">Profile website</td>
                <td class="col-md-1">Position</td>
                <td class="col-md-1">Department</td>
                <td class="col-md-1">Comment</td>
                <td class="col-md-1">Valid until</td>
                <td class="col-md-1">Action</td>
            </tr>
            {loop name="revenue.partner.product.loop" type="revenue.partner.product.loop" page={$page} limit=25}
            <tr>
                <td class="col-md-1">{$nr++}.</td>
                <td class="col-md-1">{$product_id}</td>
                <td class="col-md-1">{$partnerName}</td>
                <td class="col-md-2">{$price}</td>
                <td class="col-md-1">{$package_size}</td>
                <td class="col-md-1">{$delivery_cost}</td>
                <td class="col-md-1">{$discount}</td>
                <td class="col-md-1">{$discount_description}</td>
                <td class="col-md-1">{$profile_website}</td>
                <td class="col-md-1">{$position}</td>
                <td class="col-md-1">{$department}</td>
                <td class="col-md-1">{$comment}</td>
                <td class="col-md-1">{$valid_until}</td>
                <td class="col-md-1">
                    {form name="revenue.partner.product.form"}
                    <form action="{url path='/admin/module/revenue-wholesale-partner-product-edit'}" method="post">
                        <button type="submit" name="save_mode" value="stay"
                                class="form-submit-button btn btn-sm btn-default btn-success"
                                title="{intl l="Edit"}">
                                {intl l="Edit"} <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        {form_hidden_fields form=$form}
                        <td style="display: none;">{render_form_field form=$form field="id" value=$id}</td>
                        <td style="display: none;">{render_form_field form=$form field="product_id" value=$product_id}</td>
                        <td style="display: none;">{render_form_field form=$form field="partner_id" value=$partner_id}</td>
                        <td style="display: none;">{render_form_field form=$form field="price" value=$price}</td>
                        <td style="display: none;">{render_form_field form=$form field="package_size" value=$package_size}</td>
                        <td style="display: none;">{render_form_field form=$form field="delivery_cost" value=$delivery_cost}</td>
                        <td style="display: none;">{render_form_field form=$form field="discount" value=$discount}</td>
                        <td style="display: none;">{render_form_field form=$form field="discount_description" value=$discount_description}</td>
                        <td style="display: none;">{render_form_field form=$form field="profile_website" value=$profile_website}</td>
                        <td style="display: none;">{render_form_field form=$form field="position" value=$position}</td>
                        <td style="display: none;">{render_form_field form=$form field="department" value=$department}</td>
                        <td style="display: none;">{render_form_field form=$form field="comment" value=$comment}</td>
                        <td style="display: none;">{render_form_field form=$form field="valid_until" value=$valid_until}</td>
                    </form>
                    {/form}
                </td>
                <td class="col-md-1">
                    {form name="revenue.partner.product.form"}
                    <form action="{url path='/admin/module/revenue-wholesale-partner-product-delete'}"
                          method="post">
                        {form_hidden_fields form=$form}
                        <button type="submit" class="btn btn-danger action-btn"
                                title="{intl l='Delete partner'}" data-toggle="modal">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <td style="display: none;">{render_form_field form=$form field="id" value=$id}</td>
                        <td style="display: none;">{render_form_field form=$form field="product_id" value=$product_id}</td>
                        <td style="display: none;">{render_form_field form=$form field="partner_id" value=$partner_id}</td>
                        <td style="display: none;">{render_form_field form=$form field="price" value=$price}</td>
                        <td style="display: none;">{render_form_field form=$form field="package_size" value=$package_size}</td>
                        <td style="display: none;">{render_form_field form=$form field="delivery_cost" value=$delivery_cost}</td>
                        <td style="display: none;">{render_form_field form=$form field="discount" value=$discount}</td>
                        <td style="display: none;">{render_form_field form=$form field="discount_description" value=$discount_description}</td>
                        <td style="display: none;">{render_form_field form=$form field="profile_website" value=$profile_website}</td>
                        <td style="display: none;">{render_form_field form=$form field="position" value=$position}</td>
                        <td style="display: none;">{render_form_field form=$form field="department" value=$department}</td>
                        <td style="display: none;">{render_form_field form=$form field="comment" value=$comment}</td>
                        <td style="display: none;">{render_form_field form=$form field="valid_until" value=$valid_until}</td>
                    </form>
                    {/form}
                </td>
            </tr>
            {/loop}
        </table>
    </div>
    <tfoot>
        <tr>
            <td colspan="100">
                {include
                file = "includes/pagination.html"
                loop_ref       = "revenue.partner.product.loop"
                max_page_count = 25
                page_url       = {url path="/admin/module/revenue-wholesale-partner-product" }
                }
            </td>
        </tr>
    </tfoot>
</div>

{/block}