{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'Revenue Dashboard'}
{/block}

{block name="page-title"}{intl l='Revenue Dashboard'}{/block}

{block name="main-content"} 
    {render action='RevenueDashboard\Controller\Admin\WholesalePartnerContactController::blockJs'}
    {assign page {$smarty.get.page|default:1}}

    <div class="general-block-decorator dashboard">
        {include file = "menu-links.html"}

        <form action="{url path='/admin/module/revenuedashboard'}" method="get">
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-sm-2">
                    <h5>{intl l="Start date:"}</h5>
                    <input type="text" id="datepickerStartDate" name="datepickerStartDate" class="form-control" value="{trim($smarty.get.datepickerStartDate)}">
                </div>
                <div class="col-sm-2">
                    <h5>{intl l="End date:"}</h5>
                    <input type="text" id="datepickerEndDate" name="datepickerEndDate" class="form-control" value="{trim($smarty.get.datepickerEndDate)}">
                </div>
                <div class="col-sm-2">
                    <h5>{intl l="Search:"}</h5>
                    <button type="submit" id="get_update_orders" class="btn btn-info form-control">Search</button>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <tr style="font-weight: bold; font-size: 15px;">
                <td>Id</td>
                <td>Order id</td>
                <td>Delivery cost</td>
                <td>Delivery method</td>
                <td>Partner id</td>
                <td>Payment processor cost</td>
                <td>Price</td>
                <td>Purchase price</td>
                <td>Total purchase price</td>
                <td>Revenue</td>
            </tr>
            {assign var="total" value="0"}
            {loop name="revenue.dashboard.loop" type="revenue.dashboard.loop" page={$page} limit=100}
            {$total = $total + $revenue}
            <tr>
                <td>{$id}</td>
                <td><a href="{url path='/admin/order/update/'}{$order_id}">{$order_id}</a></td>
                <td>{$delivery_cost}</td>
                <td>{$delivery_method}</td>
                <td><a href="{url path='/admin/module/revenue-wholesale-partner/'}">{$partner_id}</a></td>
                <td>{$payment_processor_cost}</td>
                <td>{$price}</td>
                <td>{$purchase_price}</td>
                <td>{$total_purchase_price}</td>
                <td>{$revenue}</td>
            </tr>
            {/loop}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Total: </b></td>
                <td><b style="color: blue;">{$total|number_format:2:".":","}</b></td>
            </tr>
        </table>

        <tfoot>
            <tr>
                <td colspan="100">
                    {include
                file = "includes/pagination.html"
                loop_ref       = "revenue.dashboard.loop"
                max_page_count = 100
                page_url       = {url path="/admin/module/revenuedashboard" }
                    }
                </td>
            </tr>
        </tfoot>
    </div>
{/block}