{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
{$admin_current_location = 'Revenue Dashboard'}
{/block}

{block name="page-title"}{intl l='Revenue Dashboard'}{/block}

{block name="main-content"} 

<div class="general-block-decorator dashboard">
    <ul class="breadcrumb">
        <li><a href="{url path='/admin/modules'}">{intl l="Modules"}</a></li>
        <li><a href="{url path='/admin/module/revenuedashboard'}">{intl l="Revenue Dashboard"}</a></li>
        <li><a href="{url path='/admin/module/revenue-wholesale-partner'}">{intl l="Partner"}</a></li>
        <li><a href="{url path='/admin/module/revenue-wholesale-partner-contact'}">{intl l="Partner Contact"}</a></li>
        <li><a href="{url path='/admin/module/revenue-wholesale-partner-product'}">{intl l="Partner Product"}</a></li>
    </ul>

    as
    d
    asd

    a
    sd

</div>
{/block}