{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='Revenue Dashboard'}{/block}

{block name="main-content"} 
    {assign page {$smarty.get.page|default:1}}

    <div class="general-block-decorator dashboard">
        {include file = "menu-links.html"}

        <form action="{url path='/admin/module/revenue-wholesale-selling-prices'}" method="get">
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-sm-2">
                    <h5>{intl l="Product id:"}</h5>
                    <input type="text" name="product_id" class="form-control" value="{trim($smarty.get.product_id)}" autocomplete="off">
                </div>
                <div class="col-sm-2">
                    <h5>{intl l="Title:"}</h5>
                    <input type="text" name="title" class="form-control" value="{trim($smarty.get.title)}" autocomplete="off">
                </div>
                <div class="col-sm-2">
                    <h5>{intl l="Search:"}</h5>
                    <button type="submit" class="btn btn-info form-control">Search</button>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <tr style="font-weight: bold; font-size: 15px;">
                <td>{intl l="Id"}.</td>
                <td>{intl l="Product id"}</td>
                <td>{intl l="Title"}</td>
                <td>{intl l="Our selling Price with TVA"}</td>
                <td>{intl l="Purchase price"}</td>
                <td>{intl l="Google"}</td>
                <td>{intl l="Amazon"}</td>
                <td>{intl l="Skybad"}</td>
                <td>{intl l="Reuter"}</td>
                <td>{intl l="Epoq"}</td>
                <td>{intl l="Geizhals"}</td>
                <td>{intl l="Edit price"}</td>
            </tr>
            {assign var="total" value="0"}
            {loop name="selling.prices.loop" type="selling.prices.loop" page={$page} limit=100}
            <tr>
                <td>{$id}.</td>
                <td>
                    <a href="{url path='/admin/products/update?product_id='}{$product_id}">{$product_id}</a>
                </td>
                <td>{$title}</td>
                <td>
                    {loop type="product" name="the-loop-product" id=$product_id}
                    {$BEST_TAXED_PRICE|number_format:2:".":","}
                    {/loop}
                </td>
                <td>{$purchase_price|number_format:2:".":","}</td>
                <td>{if $platform == "Google"}{$sale_prices|number_format:2:".":","}{else}0{/if}</td>
                <td>{if $platform == "Amazon"}{$sale_prices|number_format:2:".":","}{else}0{/if}</td>
                <td>{if $platform == "Skybad"}{$sale_prices|number_format:2:".":","}{else}0{/if}</td>
                <td>{if $platform == "Reuter"}{$sale_prices|number_format:2:".":","}{else}0{/if}</td>
                <td>{if $platform == "Epoq"}{$sale_prices|number_format:2:".":","}{else}0{/if}</td>
                <td>{if $platform == "Geizhals"}{$sale_prices|number_format:2:".":","}{else}0{/if}</td>
                <td>
                    <input type="text" value="{($purchase_price + $purchase_price*16/100 + $delivery_cost)*20/100}" /> 
                </td>
            </tr>
            {/loop}
        </table>

        <tfoot>
            <tr>
                <td colspan="100">
                    {include
                file = "includes/pagination.html"
                loop_ref       = "selling.prices.loop"
                max_page_count = 100
                page_url       = {url path="/admin/module/revenue-wholesale-selling-prices"  product_id=$smarty.get.product_id title=$smarty.get.title }
                    }
                </td>
            </tr>
        </tfoot>
    </div>
{/block}