.settings
cache
web/cache/*
web/assets/*
web/install/*
log/*
local/session
web/schedule/app/config/config.inc.php
/nbproject/private/
nbproject/project.properties
nbproject/project.xml
web/index.php
log/.htaccess
.htaccess
local/config/cookies/
/local/media/documents/
local/config/database.yml
templates/frontOffice/default/assets/dist/css/custom-tinymce.css
/local/media/
/web/media/
local/modules/Scraper/Log/
!core/vendor/symfony/cache
local/config/database.yml
