.settings
cache
web/cache/*
web/assets/*
web/install/*
log/

local/session
web/schedule/app/config/config.inc.php
nbproject/private/
nbproject/project.properties
nbproject/project.xml
web/index.php
log/.htaccess
.htaccess
local/config/cookies/
local/media/documents/
local/config/database.yml
templates/frontOffice/default/assets/dist/css/custom-tinymce.css
local/media/
web/media/
local/modules/Scraper/Log/*
!core/vendor/symfony/cache
local/config/database.yml
local/sepa/
local/sepa/import/
local/sepa/import/ShtPrice
local/sepa/import/ShtProducts
local/sepa/import/ShtScraper
local/sepa/import/ShtStock
log/Scraper/
log/Scraper/Reuter/
log/Scraper/Skybad/
log/Scraper/Google/
log/Scraper/Google/Search/
log/Scraper/Google/Product/
log/Scraper/Idealo/
log/Scraper/Megabad/
local/modules/Scraper/Cookies/cookies.txt
