<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <export_categories>
        <export_category id="thelia.export.customer">
            <title locale="en_US">Customers</title>
            <title locale="de_DE">Kunden</title>
            <title locale="fr_FR">Clients</title>
        </export_category>
        <export_category id="thelia.export.products">
            <title locale="en_US">Products</title>
            <title locale="de_DE">Produkte</title>
            <title locale="fr_FR">Produits</title>
        </export_category>
        <export_category id="thelia.export.content">
            <title locale="en_US">Content</title>
            <title locale="de_DE">Inhalt</title>
            <title locale="fr_FR">Contenu</title>
        </export_category>
        <export_category id="thelia.export.orders">
            <title locale="en_US">Orders</title>
            <title locale="de_DE">Bestellungen</title>
            <title locale="fr_FR">Commandes</title>
        </export_category>
        <export_category id="thelia.export.modules">
            <title locale="en_US">Modules</title>
            <title locale="de_DE">Modulen</title>
            <title locale="fr_FR">Modules</title>
        </export_category>
    </export_categories>

    <exports>
        <export id="thelia.export.catalog.preisroboterde"
                        class="ComparisonPlatformExporter\Export\PreisRoboterProductExport"
                        category_id="thelia.export.products">
            <export_descriptive locale="en_US">
                <title>PreisRoboter Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required PreisRoboter CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
            <export_descriptive locale="fr_FR">
                <title>PreisRoboter Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required PreisRoboter CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
            <export_descriptive locale="de_DE">
                <title>PreisRoboter Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required PreisRoboter CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
        </export>

        <export id="thelia.export.catalog.idealo" class="ComparisonPlatformExporter\Export\IdealoProductExport"
                        category_id="thelia.export.products">
            <export_descriptive locale="en_US">
                <title>Idealo Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required IDEALO CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
            <export_descriptive locale="fr_FR">
                <title>Idealo Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required IDEALO CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
            <export_descriptive locale="de_DE">
                <title>Idealo Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required IDEALO CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
        </export>

        <export id="thelia.export.catalog.preisroboterde"
                        class="ComparisonPlatformExporter\Export\PreisRoboterProductExport"
                        category_id="thelia.export.products">
            <export_descriptive locale="en_US">
                <title>PreisRoboter Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required PreisRoboter CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
            <export_descriptive locale="fr_FR">
                <title>PreisRoboter Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required PreisRoboter CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
            <export_descriptive locale="de_DE">
                <title>PreisRoboter Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required PreisRoboter CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
        </export>

        <export id="thelia.export.catalog.billiger" class="ComparisonPlatformExporter\Export\BilligerProductExport"
                        category_id="thelia.export.products">
            <export_descriptive locale="en_US">
                <title>Billiger Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required Billiger CSV format:
                    <ul>
                    	<li>aid/sku,name,price,link_shop_cat,brand</li>
                    	<li>mpn(r),EAN,image,desc</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
            <export_descriptive locale="fr_FR">
                <title>Billiger Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required Billiger CSV format:
                    <ul>
                    	<li>aid/sku,name,price,link_shop_cat,brand</li>
                    	<li>mpn(r),EAN,image,desc</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
            <export_descriptive locale="de_DE">
                <title>Billiger Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required Billiger CSV format:
                    <ul>
                    	<li>aid/sku,name,price,link_shop_cat,brand</li>
                    	<li>mpn(r),EAN,image,desc</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
        </export>

        <export id="thelia.export.catalog.geizhals" class="ComparisonPlatformExporter\Export\GeizhalsProductExport"
                        category_id="thelia.export.products">
            <export_descriptive locale="en_US">
                <title>Geizhals Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required Geizhals CSV format:
                    <ul>
                    	<li>Produktbezeichnung,Herstellername,Preis,Beschreibung,EAN</li>
                    	<li>Versand Vorkasse,Versand Nachnahme,Versand Kreditkarte,Versand Paypal</li>
    					<li>Verfügbarkeit,HerstellernummerDeeplink</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
            <export_descriptive locale="fr_FR">
                <title>Geizhals Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required Geizhals CSV format:
                    <ul>
                    	<li>Produktbezeichnung,Herstellername,Preis,Beschreibung,EAN</li>
                    	<li>Versand Vorkasse,Versand Nachnahme,Versand Kreditkarte,Versand Paypal</li>
    					<li>Verfügbarkeit,HerstellernummerDeeplink</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
            <export_descriptive locale="de_DE">
                <title>Geizhals Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required Geizhals CSV format:
                    <ul>
                    	<li>Produktbezeichnung,Herstellername,Preis,Beschreibung,EAN</li>
                    	<li>Versand Vorkasse,Versand Nachnahme,Versand Kreditkarte,Versand Paypal</li>
    					<li>Verfügbarkeit,HerstellernummerDeeplink</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
        </export>

        <export id="thelia.export.stock.geizhals"
                        class="ComparisonPlatformExporter\Export\GeizhalsProductStockExport"
                        category_id="thelia.export.products">
            <export_descriptive locale="en_US">
                <title>Geizhals Product Stock And Locations Export</title>
                <description>
                <![CDATA[
                    Export the product stock and locations in the required Geizhals CSV format:
                    <ul>
                    	<li> Artikelnummer,Versandlager1,Versandlager2,Versandlager3,Versandlager4</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
            <export_descriptive locale="fr_FR">
                <title>Geizhals Product Stock And Locations Export</title>
                <description>
                <![CDATA[
                     Export the product stock and locations in the required Geizhals CSV format:
                    <ul>
                    	<li> Artikelnummer,Versandlager1,Versandlager2,Versandlager3,Versandlager4</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
            <export_descriptive locale="de_DE">
                <title>Geizhals Product Stock And Locations Export</title>
                <description>
                <![CDATA[
                      Export the product stock and locations in the required Geizhals CSV format:
                    <ul>
                    	<li> Artikelnummer,Versandlager1,Versandlager2,Versandlager3,Versandlager4</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
        </export>
        <export id="thelia.export.bmd_order" class="ComparisonPlatformExporter\Export\BMDOrderExport"
                        category_id="thelia.export.orders">
            <export_descriptive locale="en_US">
                <title>BMD orders</title>
                <description>
                    Export your BMD orders
                </description>
            </export_descriptive>
            <export_descriptive locale="fr_FR">
                <title>Commandes BMD</title>
                <description>
                    Exporter vos BMD commandes
                </description>
            </export_descriptive>
            <export_descriptive locale="de_DE">
                <title>BMD orders</title>
                <description>
                    Export your BMD orders
                </description>
            </export_descriptive>
        </export>        
        <export id="thelia.export.bmd_order.extended" class="ComparisonPlatformExporter\Export\BMDOrderExtendedExport"
                        category_id="thelia.export.orders">
            <export_descriptive locale="en_US">
                <title>BMD exdended orders</title>
                <description>
                    Export your BMD orders
                </description>
            </export_descriptive>
            <export_descriptive locale="fr_FR">
                <title>Commandes BMD</title>
                <description>
                    Exporter vos BMD extended commandes
                </description>
            </export_descriptive>
            <export_descriptive locale="de_DE">
                <title>BMD extended orders</title>
                <description>
                    Export your BMD extended orders
                </description>
            </export_descriptive>
        </export>
        <export id="thelia.export.catalog.triworx" class="ComparisonPlatformExporter\Export\TriworxProductExport"
                        category_id="thelia.export.products">
            <export_descriptive locale="en_US">
                <title>Triworx Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required Triworx CSV format:
                    <ul>
                        <li>ean_code, title, ref, extern_id</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
            <export_descriptive locale="fr_FR">
                <title>Triworx Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required Triworx CSV format:
                    <ul>
                        <li>ean_code, title, ref, extern_id</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
            <export_descriptive locale="de_DE">
                <title>Triworx Product Catalog Export</title>
                <description>
                <![CDATA[
                    Export the Product Catalog in the required Triworx CSV format:
                    <ul>
                        <li>ean_code, title, ref, extern_id</li>
                    </ul>
                    ]]>
                </description>
            </export_descriptive>
        </export>
    </exports>
</config>
