<div class="row filter_row">
	<div class="col-md-12">
     	<div class="match-filter bg-light-grey clean" id="filterCollection">
     		<ul class = "category-container nav-tabs">
     			{assign var=elements value=0}
     			{loop type="search_feature" name="search_feature_loop" category=$category_id}
      				{if $SEARCHABLE}
	          			{$featureId = $ID}
	          			{assign var=elements value=$elements+1}
	          			{append var='featureCollection' value=$ID index=$elements}
	          			<li class = "col-md-3 main-category test" class="select-search">
	          				<a class="category-head feature-{$ID}" a data-toggle="tab" href="#{$ID}" data-feature="{$ID}">
	          					<span>{$TITLE}</span>
	          				</a>
	          			</li>
	          			{if $elements%4==0 && $elements>0 }
	          				</ul>
	          				<div class="tab-content col-md-12 options_collection">
		          				{foreach from=$featureCollection key=k item=fID}
		          					{if $featureCollection.{$k} != null}
			          					<div id="{$fID}" class="tab tab-pane fade options-container clean row">
			          						{loop type="search_feature_av" name="search_feature_av_loop" feature=$fID category={', '|implode:$categories} return_empty=false force_return=true}
												<div class="checkbox filter-option col-md-4 col-sm-12">	
													<div class="controller_wrapper clean checkbox-box">
														<div class="checkbox">
															<input type="checkbox" data-name="level_price"  class="input-search" value="{$ID}" id="feature-{$fID}-{$ID}" mainItem = "feature-{$fID}" name="features[{$fID}][]" data-tracked="true">
															<label for="feature-{$fID}-{$ID}">
																<span>{$TITLE}</span> 
																{strip}{$DESCRIPTION nofilter}{/strip}
															</label>
														</div>
													</div>
												</div>
											 {/loop}
			          					</div>
			          				{/if}
		          					{$featureCollection.{$k} = null}
		          				{/foreach}
	          				</div>
	          				<ul class = "category-container nav-tabs">
	          			{/if}
      				{/if}
     			{/loop}
     		</ul>
     		<div class="tab-content col-md-12 options_collection">
  				{foreach from=$featureCollection key=k item=fID}
			        {if $featureCollection.{$k} != null}
	  					<div id="{$fID}" class="tab tab-pane fade options-container clean row">
	  						{loop type="search_feature_av" name="search_feature_av_loop" feature=$fID category={', '|implode:$categories} return_empty=false force_return=true}
								<div class="checkbox filter-option col-md-4 col-sm-12">	
									<div class="controller_wrapper clean checkbox-box">
										<div class="checkbox">
											<input type="checkbox" data-name="level_price"  class="input-search" value="{$ID}" id="feature-{$fID}-{$ID}" mainItem = "feature-{$fID}" name="features[{$fID}][]" data-tracked="true">
											<label for="feature-{$fID}-{$ID}">
												<span>{$TITLE}</span> 
												{strip}{$DESCRIPTION nofilter}{/strip}
											</label>
										</div>
									</div>
								</div>
							 {/loop}
	  					</div>
	  				{/if}
			        {$featureCollection.{$k} = null}
  				{/foreach}
			</div>
		</div>
	</div>
</div>
<div class="row mobile_filter_row">
	<div class="col-md-12">
		<button type="button" id="mobileButtonKonfigurator" data-toggle="collapse" class="collapsed hidden-md hidden-lg" data-target="#mobileFilter" aria-expanded="false"> {intl l="KONFIGURATOR"}</button>
		<div id="mobileFilter" class="collapse"></div>
	</div>
</div>