<tr>
    <td><a href="{url path='/admin/configuration/office-email'}">{intl l='Email - failed orders'}</a></td>
    <td><a class="btn btn-default btn-xs" href="{url path='/admin/configuration/office-email'}"><i class="glyphicon glyphicon-edit"></i></a></td>
</tr>
<tr>
    <td><a href="{url path='/admin/configuration/office-email-order-service'}">{intl l='Email - order notification for Services'}</a></td>
    <td><a class="btn btn-default btn-xs" href="{url path='/admin/configuration/office-email-order-service'}"><i class="glyphicon glyphicon-edit"></i></a></td>
</tr>