<div class="search-container navbar-form navbar-left navbar-collapse">
    <form id="form-search" action="{url path="/search"}" method="get" role="search" aria-labelledby="search-label">     
        <input type="search" name="q" id="q" placeholder="{intl l="Produkte finden" d="hooksearch.fo.default"}" class="form-control" autocomplete="off" aria-required="true" required pattern=".{ldelim}2,{rdelim}" title="{intl l="Minimum 2 characters." d="hooksearch.fo.default"}">
        <button type="submit" class="btn-search"><img src="{image file='assets/dist/img/btn_search.png'}"/> </button>
    </form>
</div>