<div >
<!---------AKTUELL BEI HAUSFABRIK------------> 
    <br>
<div>
    <div class="col-sm-12 col-md-6 ebay">
        <div class="row">
            <div class="col-sm-9" >
                {loop name="ani.homepage.new" type="product" id=4458 limit="1"}
              
                
                <a href="{$URL nofilter}"><div style="position:relative"><img src={image file='assets/dist/img/marken/grohe/k7.png'} alt="Grohe armaturen" class="img-responsive bigimg"><h2 style="position:absolute;bottom:2%; left:5%">GROHE K7 <br>Einhand-Spültischbatterie</h2></div></a>
                  
                 
                {/loop}
            </div>
            <div class="col-sm-3">
                
                <div>
                    {loop name="ani.homepage.new" type="product" id=2847 limit="1"}
                    <a href="{$URL nofilter}">
                    {loop type="image" name="image.main" product={$ID} limit="1"}
                    <img src="{$IMAGE_URL nofilter}" alt="Grohe"   class="img-responsive smallimg" >
                     {/loop} 
                    </a>
                     {/loop}
                </div>
               <div>
                    {loop name="ani.homepage.new" type="product" id=2084 limit="1"}
                    <a href="{$URL nofilter}">
                    {loop type="image" name="image.main" product={$ID} limit="1"}
                    
                    <img src="{$IMAGE_URL nofilter}" alt="Grohe"   class="img-responsive smallimg" >
                   
                     {/loop} 
                    </a>
                     {/loop}
                </div>
                
               <div>
                    {loop name="ani.homepage.new" type="product" id=2822 limit="1"}
                    <a href="{$URL nofilter}">
                    {loop type="image" name="image.main" product={$ID} limit="1"}
                    <img src="{$IMAGE_URL nofilter}" alt="Grohe"   class="img-responsive smallimg" >
                   
                     {/loop} 
                    </a>
                     {/loop}
                </div>
            </div>
            
        
        </div>
         <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-8 col-lg-8 " >
                <h1 class="main-title">GROHE Badarmaturen</h1>
                <p>Mit Qualität "Made in Germany", zeitlosem Design und außergewöhnlichen Produkten gibt GROHE Ihnen die Möglichkeit, jeden Tag die "Pure Freude an Wasser" zu genießen. </p>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4 " >
               <br><br><a href="/grohe"><button class="btn btn-1 btn-1a">ENTDECKEN</button></a>
            </div>
        </div>
    </div>  
    
    <div class="col-sm-12 col-md-6 ebay" >
        <div class="row" >
            <div class="col-sm-9">
                {loop name="ani.homepage.new" type="product" id=1982 limit="1"}
               
                 <a href="/?view=brand&brand_id=96">
                         <img src={image file='assets/dist/img/marken/laufen/laufen.png'} alt="LAUFEN" class="img-responsive bigimg">     
                  </a>
                {/loop}
            </div>
            <div class="col-sm-3" >
               <div>
                    {loop name="ani.homepage.new" type="product" id=2767 limit="1" height="110"}
                    <a href="{$URL nofilter}">
                    {loop type="image" name="image.main" product={$ID} limit="1"}
                    <img src="{$IMAGE_URL nofilter}" alt="LAUFEN"   class="img-responsive smallimg" >
                     {/loop} 
                    </a>
                     {/loop}
                </div>
                <div>
                    {loop name="ani.homepage.new" type="product" id=2759 limit="1"}
                    <a href="{$URL nofilter}">
                    {loop type="image" name="image.main" product={$ID} limit="1"}
                    <img src="{$IMAGE_URL nofilter}" alt="LAUFEN"   class="img-responsive smallimg" >
                     {/loop} 
                    </a>
                     {/loop}
                </div>
            
                <div>
                    {loop name="ani.homepage.new" type="product" id=2639 limit="1"}
                    <a href="{$URL nofilter}">
                    {loop type="image" name="image.main" product={$ID} limit="1"}
                    <img src="{$IMAGE_URL nofilter}" alt="LAUFEN"   class="img-responsive smallimg" >
                     {/loop} 
                    </a>
                     {/loop}
                </div>
            
                
               
           
            </div>

    </div> 
    <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-8 col-lg-8 ">
                <h1 class="main-title">LAUFEN</h1>
                <p>Bei uns finden Sie eine große Auswahl an Waschbecken, Badmöbel,  Toiletten, Badewannen und viel mehr. Brauchen Sie Hilfe beim Austausch von Sanitärprodukten? Hausfabrik freut sich einen Termin mit Ihnen zu vereinbaren.  </p>
            </div>
            <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4" >
                <br><br><a href="/laufen.html"><button class="btn btn-1 btn-1a">ENTDECKEN</button></a>
            </div>
        </div>
</div>
    <div class="clearfix"></div> 
    <br><br>
    
    <!---------DANFOSS------------>
<!--div>
    <div class="infrarot-container">
  
        <div class="col-sm-5">
            <img src={image file='assets/dist/img/homepage/danfoss.png'} alt="Infrarot Heizung" class="img-responsive danfoss-bild" >
        </div>
        <div class="col-sm-1"></div>
              <div class="col-sm-6 row">
         <h1 class="main-title"> <img src={image file='assets/dist/img/homepage/danfoss-logo.png'}> </h1>
        <ul>
        <li><a href="/thermostatkopf.html">Thermostatköpfe</a></li>
        <li><a href="/regelungen.html">Regelungen</a></li>
        <li><a href="/heizkörper-armaturen.html">Heizkörperamaturen</a></li>
        </ul>
       

            <div><a href="/danfoss-2.html"><button class="btn btn-1 btn-1a">JETZT VIDEOS ENTDECKEN</button></a></div>

        </div>
    </div>
     
</div-->



<!---------INFRAROT------------>
<!--div>
    <div class="infrarot-container">
        <div class="col-sm-8">
         <h1 class="main-title"><span>INFRAROT</span> HEIZUNG</h1>
            <p>Infrarot Heizung gibt es in allen Varianten. Ob Sie sich für eine Spiegel- oder Stahlinfrarot Heizung entscheiden, ob Wand- oder Deckenmontage, jedes Produkt kann inklusive Montage bestellt werden.</p>

            <div><br><a href="/infrarotheizung.html?lang=de_DE"><button class="btn btn-1 btn-1a">JETZT ENTDECKEN</button></a></div>

        </div>
        <div class="col-sm-4">
            <img src={image file='assets/dist/img/homepage/infrarot-heizung.png'} alt="Infrarot Heizung" class="img-responsive infrarot-bild" >
        </div>
    </div>
     
</div-->

    
<div class="container">


    
<!---------SERVICES------------>
<div class="row">
    <div class=" block-main col col-sm-4 aside-banners">
        
            
                <div class="textbereich">
                    <h1 class="mini-title">HEIZUNGS-</h1>
                    <h1 class="main-title-line">TAUSCH</h1>
                    <h2 class="detailed-text">Finden Sie einfach <br>die richtige Heizung in 5 Min.</h2>
                    <div><a href="/konfigurator"><button class="btn btn-1 btn-1a">ZUM ANGEBOT</button></a></div>
                </div>
                <div  class="iconbereich" style="vertical-align: bottom; display:table-cell;">
                <img src="{image file='assets/dist/img/aside-banners/aside-konfigurator.png'}" alt="konfigurator" class="img-responsive aside-banner-konfigurator" style="vertical-align:bottom"/>
                </div>
                </div>
        
        
  
    <div class="block-main col col-sm-4 aside-banners">
        <div class="textbereich">
            <h1 class="mini-title">IHRE NEUE</h1>
            <h1 class="main-title-line">HEIZUNG</h1>
            <h2 class="detailed-text">Erhalten Sie Ihr Individuelles<br> Angebot innerhalb 24 Stunden.</h2>
            <div><a href="/heizungskonfigurator-angebot"><button class="btn btn-1 btn-1a">ZUM ANGEBOT</button></a></div>
        </div>
        <div class="iconbereich">
            <img src="{image file='assets/dist/img/aside-banners/aside-banner-neue-heizung.png'}" alt="neue heizung" class="img-responsive aside-banner-neue-heizung"/>
        </div>
    </div>
    
    <div class=" block-main col col-sm-4 aside-banners">
        <div class="textbereich">
            <h1 class="mini-title">THERMENWARTUNG</h1>
            <h1 class="main-title-line">mit Termin</h1>

            <h2 class="detailed-text">
              Buchen Sie gleich Wartungservice<br> mit Ihrem gewünschten Datum

            </h2>
            <div> <a href="/?view=product&lang=de_DE&product_id=315"><button class="btn btn-1 btn-1a" >ZUM SERVICE</button></a></div>
        </div>
        <div class="iconbereich">
            <img src="{image file='assets/dist/img/aside-banners/aside-banner-services.png'}" alt="thermen wartung" class="img-responsive aside-banner-wartung"/>
        </div>
        </div>
</div>
 <div class="clearfix"></div>
    
<br>
    
    
<!---------HEIZUNGSTAUSCH------------>
<div class="row">
    <div class="col-sm-6 block-main">
        <h1 class="mini-title">FINDEN SIE</h1>
        <h1 class="main-title">IHRE <span>RICHTIGE HEIZUNG</span></h1>
        <h4>Mittels unseres Heizungskonfigurators</h4>
        <div><br><a href="/konfigurator"><button class="btn btn-1 btn-1a">ZUM ANGEBOT</button></a></div>
    </div>
    <div class="col-sm-6">
        <img src={image file='assets/dist/img/homepage/heizungstausch.png'} alt="Heizungstausch" class="img-responsive">
    </div>
</div>
 
<!---------INSTALLATEUR------------>
<div class="row">
    <div class="col-sm-6">
        <img src={image file='assets/dist/img/homepage/installateur.png'} alt="Heizungstausch" class="img-responsive">
    </div>
    <div class="col-sm-6 block-main">

        <h1 class="main-title">IHR <span>INSTALLATEUR</span></h1>
        <h4>bestellen Sie Ihren Installateur online</h4>
        <div class="col-sm-12"><h4><i class="glyphicon glyphicon-calendar" style="font-size:2em"></i> Mit Ihrem gewünschtem Datum und Uhrzeit</h4></div>
         <div class="clearfix"></div> 
        <ul class="col-sm-12">
        <li><a href="/Thermenwartung-mit-Online-Terminbuchung.html">Thermenwartung</a></li>
        <li><a href="/Abgasmessung-mit-Online-Terminbuchung-1.html">Abgasmessung</a></li>
        <li><a href="/montage-gasheizgerät-mit-Online-Terminbuchung">Montage Gasheizgerät</a></li>
        </ul>
        <ul class="col-sm-6">
        <li><a href="/Toiletten-Austausch-mit-Online-Terminbuchung.html">Toiletten Austausch</a></li>
        <li><a href="/Wartungsvertrag-für-Gas-bis-30kW-mit-Online-Terminbuchung.html">Wartungsvereinbarung</a></li>
        <li><a href="/Hydraulischer-Abgleich-mit-Online-Terminbuchung.html">Hydraulischer Abgleich</a></li>
        </ul>
        
        <div><br><a href="/installateur"><button class="btn btn-1 btn-1a">ZU ALLEN SERVICES</button></a></div>
        
        <!---------Ihr Online Installateur------------> 
    <br>
    <div>
    
    
        <div>
            <h6>Hausfabrik deckt ein breites Angebot an Services ab. Angefangen von Thermenwartung, Montage aller Armaturen für Bad und Küche sowie Heizungen, bis hin zum Austausch von Toiletten, Thermen und vielem mehr.<br><br>

Und das Beste daran - Alle unsere Services können bei Hausfabrik online gebucht werden. Einfach den gewünschten Termin in unserem Terminkalender eintragen.<br><br></h6>
        </div>

    
    </div>    
        
    </div>
</div>

 

    
   
<!---------USE CASES------------>
<!--div class="aside-banners">
    <a href="/services">
    <div class="block-main col col-sm-4 aside-banner-installator">
       <h1 class="mini-title">MIETEN SIE</h1>
       <h1 class="main-title"><small>IHREN</small> INSTALLATEUR</h1>
    </div>
    </a>
    <a href="/?view=product&lang=de_DE&product_id=3147">
    <div class="block-main col col-sm-4 aside-banner-wc">
        <h1 class="mini-title">TOILLETEN</h1>
        <h1 class="main-title">AUSTAUSCH</h1>
    </div>
    </a>
    <a href="/?view=product&lang=de_DE&product_id=315">
    <div class="block-main col col-sm-4 aside-banner-thermen-wartung">

        <h1 class="mini-title">THERMENWARTUNG</h1>
        <h1 class="main-title">mit Online-Terminbuchung</h1>

        
    </div>
    </a>
</div-->

    
<!--div class="grid">
    <figure class="effect-oscar">
        <img src="{image file='assets/dist/img/aside-banners/klimablock.png'}" alt="Klimaanlage"/>
        <figcaption>
            <h2><span>KLIMAANLAGEN OHNE AUSSENEINHEIT</span></h2>
            <p><br><a href="http://www.hausfabrik.at/?view=brand&lang=de_DE&brand_id=101"><button class="btn btn-1 btn-1a">JETZT ENTDECKEN</button></a></p>

        </figcaption>			
    </figure>
    <figure class="effect-oscar">
        <img src="{image file='assets/dist/img/aside-banners/waermepumpe.png'}" alt="Waermepumpen"/>
        <figcaption>
            <h2><span>WÄRMEPUMPEN<br>  3IN1</span></h2>
            <p><br><a href="/?view=brand&lang=de_DE&brand_id=100"><button class="btn btn-1 btn-1a">JETZT ENTDECKEN</button></a></p>

        </figcaption>			
    </figure>
</div>
<div class="clearfix"></div-->



<!--SLIDER-->
<!--div class="heizung-slider">
	<br><h2 class="title">HEIZUNGSETS</h2>
			<div class="deco deco--title"></div>
			<div id="slideshow-set" class="slideshow-set">
                <a href="/heizungset">
				<div class="slide-set">
					<h2 class="slide__title slide__title--preview"><strong>Gas-Brennwert-Heizung & Solarthermie</strong> zur Warmwasserbereitung
inkl. <strong>Montage</strong> & 10-Jahresgarantie für <span class="slide__price">12.399  € </span></h2>
					<div class="slide__item">
						<div class="slide__inner">
							<img class="slide__img slide__img--small" src="{image file='assets/dist/img/slider-sets/offer1.jpg'}" alt="Angebot1" />
						</div>
					</div>
					
				</div>
                </a>
				<div class="slide-set">
					<h2 class="slide__title slide__title--preview"><strong>Gas-Brennwertkessel</strong> (50kW) mit solarer Warmwasserbereitung
inkl. <strong>Montage</strong> & 10-Jahresgarantie für<span class="slide__price">26.599  € </span></h2>
					<div class="slide__item">
						<div class="slide__inner">
							<img class="slide__img slide__img--small" src="{image file='assets/dist/img/slider-sets/offer2.jpg'}" alt="Some image" />
						</div>
					</div>
					
				</div>
				<div class="slide-set">
					<h2 class="slide__title slide__title--preview"><strong>Öl-Brennwertkessel</strong> mit <strong>Warmwasserbereiter</strong> und <strong>Solaranlage</strong>
inkl. <strong>Montage</strong> & 10-Jahresgarantie für<span class="slide__price">14.199  € </span></h2>
					<div class="slide__item">
						<div class="slide__inner">
							<img class="slide__img slide__img--small" src="{image file='assets/dist/img/slider-sets/offer3.jpg'}" alt="Some image" />
						</div>
					</div>
					
				</div>

            </div>
				
			
		</div--><!-- /homepage slider -->
		<script src="{javascript file='assets/dist/js/vendors/classie.js'}"></script>
		<script src="{javascript file='assets/dist/js/vendors/dynamics.min.js'}"></script>
		<script src="{javascript file='assets/dist/js/vendors/main.js'}"></script>
		<script>
		/*	(function() {
				document.documentElement.className = 'js';
				var slideshow = new CircleSlideshow(document.getElementById('slideshow-set'));
			})();*/
		</script>

<div class="clearfix"></div>

<!---------ÜBER UNS------------>
<div class="row about_us" style="position:relative">
    
    
      <h2 class="title">ÜBER HAUSFABRIK</h2> 
    
        <div class="col-sm-7">
            <h4>HAUSFABRIK ist Ihr ONLINE INSTALLATEUR, Spezialist für den Heizungs-, Sanitär- und Klimabereich und Ansprechpartner für innovative und nachhaltige Haustechnik. <br> <br>Unser Ziel ist es, Ihnen eine sorgenfreie und sichere Zukunft mittelserneuerbarer Energien zu bereiten. Werden Sie heute noch Kunde von HAUSFABRIK und profitieren Sie schon morgen von geringeren Energiekosten!</h4>
            <div><br><a href="/wir-ueber-uns.html"><button class="btn btn-1 btn-1a">Mehr Über HAUSFABRIK</button></a></div>
        </div>
        <div class="col-sm-5" >
            <img src="{image file='assets/dist/img/homepage/team.png'}" class="img-responsive">
        </div>
<div class="clearfix"></div>


</div>

    
<!---------Wartungspackete------------>
<div class="wartungspackete row">
    
    <br><br>
      <h2 class="title">UNSERE WARTUNGSPAKETE</h2> 
    
        <div class="col-sm-4">
            <div class="packet packet1">
							<h5 class="font2 whitegray-bg black wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">LIGHT</h5>
							<h1 class="font2 color wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"><span>€</span> 11.90</h1>
							<h6 class="font5 dark wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">monatlich</h6>
                            <ul>
								
								<li>1x jährliche Wartung</li>
								<li>5% Rabatt auf benötigte<br> Ersatzteile </li>
								<li>24h Notdienst ganzjährig</li>
                                <li>1 Monat Wartungsgarantie*</li>
                                </ul> 
                <div>
                <a href="/wartungspaket-light.html"><button class="btn btn-1 btn-1a" >MEHR DAZU</button></a>
                </div>
                 <small>*Keine Verrechnung von Arbeitszeit und Fahrkosten (bei Störungen) ein Monat nach der durchgeführten Wartung </small>

            </div>
        </div>
        <div class="col-sm-4" >
           <div class="packet packet2">
							<h5 class="font2 whitegray-bg black wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">KOMFORT</h5>
							<h1 class="font2 color wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"><span>€</span> 14.90</h1>
							<h6 class="font5 dark wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">monatlich</h6>

                                <ul>
								<li>1x jährliche Wartung</li>
								<li>10% Rabatt auf benötigte<br> Ersatzteile</li>
								<li>24h Notdienst ganzjährig</li>
                                <li>4 Monat Wartungsgarantie**</li>
                                </ul>
               
               <div>
                <a href="/wartungspaket-komfort.html"><button class="btn btn-1 btn-1a" >MEHR DAZU</button></a>
                </div>
                <small>**Keine Verrechnung von Arbeitszeit und Fahrkosten (bei Störungen) 4 Monate nach der durchgeführten Wartung</small>
							
							
            </div>
        </div>
        <div class="col-sm-4" >
            <div class="packet packet3">
							<h5 class="font2 whitegray-bg black wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">PREMIUM</h5>
							<h1 class="font2 color wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"><span>€</span> 25.00</h1>
							<h6 class="font5 dark wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">monatlich</h6>

                            <ul>
                                <li>1x jährliche Wartung</li>
								<li>Kostenlose Ersatzteile </li>
								<li>24h Notdienst ganzjährig</li>
                               <li> Kostenlose Reparatur und Anfahrt innerhalb eines Monats nach der Wartung</li>
                            </ul>
                
                <div>
                <a href="/wartungspaket-premium.html"><button class="btn btn-1 btn-1a" >MEHR DAZU</button></a>
                </div>
             <small> Dieses Paket gilt nur für Kunden, die einen Heizungstausch der Hausfabrik in Anspruch genommen haben.</small>

							
            </div>
        </div>



</div>
    
    <!---------Heizungscontracting------------>
<div class="row">
    <br><br>
    
      <h2 class="title">HEIZUNGSCONTRACTING</h2> 
     <div class="col-sm-5" >
        <div class="heizungscontracting block-main" >
        <h1 class="mini-title">Heizungstausch</h1>
        <h2 class="mini-title"><strong>BEISPIELRECHNUNG</strong></h2>
        <div class="row">
         <div class="col-sm-5"><h3>3.600€</h3></div>
         <div class="col-sm-7">Thermentausch<br> inkl. Montage<br>  inkl. Inbetriebnahme<br><br></div>
            <div class="col-sm-5">Laufzeit<br><br></div><hr>
         <div class="col-sm-7">60 Monate (5 Jahre) <br> <br></div>
         <div class="col-sm-5"> </div>
         <div class="col-sm-7">0€ Anzahlung<br> 60€ Heizungsrate<br>25€ Premium Wartungspaket</div>
         <div class="clearfix"></div>
        <hr>
         <div class="col-sm-12" style="text-align:center"><div><h3>85€ Monatsrate</h3></div></div>
            <div class="clearfix"></div>
        </div>
        
    </div>
         </div>
    <div class="col-sm-7" style="text-align:right">
        
        <img src={image file='assets/dist/img/homepage/contracting.png'} alt="Heizungscontracting" class="img-responsive">
       
    </div>
        
        
        



    </div>
    
  <br><br>    

<!---------TESTIMONIALS------------>
<div class="so-funktionierst row happyclient">
     
    
      <h2 class="title">WAS SAGEN UNSERE KUNDEN ÜBER UNS?</h2> 
    
        <div class="kundenvideo">
           <iframe  src="https://www.youtube.com/embed/K48Qy8aMNAY?rel=0" frameborder="0" allowfullscreen></iframe>
            <h4>"Ich würde HAUSFABRIK auf jeden Fall weiterempfehlen"</h4>
        </div>

    
</div>

   
<!---------SO FUNKTIONIERTS------------>  
   
<!--div class="so-funktionierst row">
    <h2 class="title">SO FUNKTIONIERT'S</h2>
                    <div class="col-md-12 col-md-offset-0 col-sm-11 col-sm-offset-1">
                        <div class="col-md-2 col-sm-12 text-center"></div>
                        <div class="col-md-2 col-sm-3 text-center">
                            <img src="{*image file='assets/dist/img/sofunktionierts/produkt.svg'*}" width="100">
                            <h4 class="font-medium">PRODUKT</h4>
                           Unser Online Shop bietet Ihnen zahlreiche Heizungs-, Sanitär- und Klimaprodukte 
                        </div>
                        <div class="col-md-1 col-sm-1 text-center">
                            <img src="{*image file='assets/dist/img/sofunktionierts/plus.svg'*}" width="35">
                        </div>
                        <div class="col-md-2 col-sm-3 text-center">
                            <img src="{*image file='assets/dist/img/sofunktionierts/service.svg'*}" width="100">
                            <h4 class="font-medium">INSTALLATEUR</h4>
                             Unsere Monteure stellen sicher, dass Ihre neue Produkte optimal montiert und installiert wird
                        </div>
                        <div class="col-md-1 col-sm-1 text-center">
                            <img src="{*image file='assets/dist/img/sofunktionierts/equal.svg'*}" width="35">
                        </div>
                        <div class="col-md-2 col-sm-3 text-center">
                            <img src="{*image file='assets/dist/img/sofunktionierts/relax.svg'*}" width="100">
                            <h4 class="font-medium">RELAX</h4>
                            Unser erfahrenes Team wird die Aufgabe erfüllen, während Sie sich entspannen.
                        </div>
                        <div class="col-md-2 col-sm-12 text-center"></div>
                    </div>
</div> 
    <br-->
     <!---------VORTEILE------------>
<div class="row" style="background-color: #f3f5f8">
   
        <div class="advantages">
            <div class="col col-xs-15 col-sm-15 col-md-15 col-lg-15">
                <span class="vorteile icon-delivery  fa-flip-horizontal"></span>
                <div class="text">{intl l="KOSTENLOSE"}<br>{intl l="LIEFERUNG"}</div>
            </div>
             <div class="col col-xs-15 col-sm-15 col-md-15 col-lg-15">
                <span class="vorteile icon-calendar  fa-flip-horizontal"></span>
                <div class="text">{intl l="TERMINE"}<br>{intl l="ONLINE BUCHEN"}</div>
            </div>
            <div class="col col-xs-15 col-sm-15 col-md-15 col-lg-15">
                <span class="vorteile icon-punktual  fa-flip-horizontal"></span>
                <div class="text">{intl l="GARANTIERTE"}<br>{intl l="PÜNKTLICHKEIT"}</div>
            </div>
           <div class="col col-xs-15 col-sm-15 col-md-15 col-lg-15">
                <span class="vorteile icon-jahre  fa-flip-horizontal"></span>
                <div class="text">{intl l="40 JAHRE"}<br>{intl l="ERFAHRUNG"}<br><small>{intl l="IM HEIZUNGSBEREICH"}</small></div>
            </div>
           <div class="col col-xs-15 col-sm-15 col-md-15 col-lg-15">
                <span class="vorteile icon-beratung  fa-flip-horizontal"></span>
                <div class="text">{intl l="KOSTENLOSE"}<br>{intl l="BERATUNG"}</div>
            </div>
           

        </div>
      
</div>
    
       <br>


</div>
    </div>

<!--div class="partners ">
    <br><h2 class="title">UNSERE PARTNER</h2>
    <div class="col-sm-3"><img src="{image file='assets/dist/img/partners/junkers.png'}" class="img-responsive"></div>
    <div class="col-sm-3"><img src="{image file='assets/dist/img/partners/austria-email.png'}" class="img-responsive"></div>
    <div class="col-sm-3"><img src="{image file='assets/dist/img/partners/vaillant.png'}" class="img-responsive"></div>
    <div class="col-sm-3"><img src="{image file='assets/dist/img/partners/ochsner.png'}" class="img-responsive"></div>

</div-->