{extends file="email-layout.tpl"}

{* Do not provide a "Open in browser" link  *}
{block name="browser"}{/block}
{* No pre-header *}
{block name="pre-header"}{/block}

{* Subject  *}
{block name="email-subject"}{intl l="Your order confirmation Nº %ref" ref={$order_ref}}{/block}

{* Title  *}
{block name="email-title"}{intl l="Thank you for your order!"}{/block}

{* Content  *}
{block name="email-content"}

    {loop name="order.invoice" type="order" id=$order_id customer="*"}
        {loop name="currency.order" type="currency" id=$CURRENCY}
            {assign var="orderCurrencyIsoCode" value=$ISOCODE}
        {/loop}
        {loop type="customer" name="customer.invoice" id=$CUSTOMER current="0"}
            {assign var="customerRef" value=$REF}
        {/loop}

        {hook name="email-html.order-confirmation.before-address" order=$order_id}

        {intl l="Here are the details of your purchase:"}<br /><br />

        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top" width="55%">
                    <strong>{intl l="Delivery address:"}</strong><br>
                    {ifhook rel="email-html.order-confirmation.delivery-address"}
                        {* delivery module can customize the delivery address *}
                        {hook name="email-html.order-confirmation.delivery-address" module={$DELIVERY_MODULE} order=$order_id}
                    {/ifhook}
                    {elsehook rel="email-html.order-confirmation.delivery-address"}
                        {format_address order_address=$DELIVERY_ADDRESS locale=$locale}
                    {/elsehook}
                </td>
                <td valign="top">
                    <strong>{intl l="Billing address:"}</strong><br />
                    {format_address order_address=$INVOICE_ADDRESS locale=$locale}
                </td>
            </tr>
        </table>

        {hook name="email-html.order-confirmation.after-address" order=$order_id}
        <br />

        <p>
            {intl l="Order Total:"} {format_money number=$TOTAL_TAXED_AMOUNT currency_id=$CURRENCY}<br />
            {intl l="Order Number:"} {$REF}<br />
            {intl l="Paid With:"} {loop name="payment-module" type="module" id=$PAYMENT_MODULE}{$TITLE}{/loop}<br />
            {intl l="Purchase Date:"} {format_date date=$CREATE_DATE output="datetime"}<br />
            {intl l="Delivery method:"}
            	{ifhook rel="product.order-email-fulfilment-center-address"}
               		{hook name="product.order-email-fulfilment-center-address" orderid=$order_id}	
	            {/ifhook}
	            {elsehook rel="product.order-email-fulfilment-center-address"}
            		{loop name="delivery-module" type="module" id=$DELIVERY_MODULE}{$TITLE}{/loop}<br />
            	{/elsehook}
        </p>

        {hook name="email-html.order-confirmation.before-products" order=$order_id}

        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:13px;line-height:2em">
            <tr style="color:#999;font-size:11px">
                <td style="color:#999;border-bottom:1px solid #000;width:60%">{intl l="What You Purchased"}</td>
                <td align="right" style="color:#999;border-bottom:1px solid #000;width:40%">{intl l="Price in"} {$orderCurrencyIsoCode}</td>
            </tr>
            {assign var="order_id" value=$ID}
            {loop type="order_product" name="order-products" order=$ID}
            {if $WAS_IN_PROMO == 1}
                {assign "realPrice" $PROMO_PRICE}
                {assign "realTax" $PROMO_PRICE_TAX}
                {assign "realTaxedPrice" $TAXED_PROMO_PRICE}
            {else}
                {assign "realPrice" $PRICE}
                {assign "realTax" $PRICE_TAX}
                {assign "realTaxedPrice" $TAXED_PRICE}
            {/if}
                <tr>
                    <td >
                        <b>{$TITLE}</b> <i>({$REF})</i>
                        {ifloop rel="combinations"}<br />
                        {loop type="order_product_attribute_combination" name="combinations" order_product=$ID}
                            <span style="color:#999;display:block;font-size:11px;line-height:1.2">* {$ATTRIBUTE_TITLE}: {$ATTRIBUTE_AVAILABILITY_TITLE}</span>
                        {/loop}
                        {/ifloop}
                    </td>
                  <td align="right" ><!--   style="border-bottom:1px solid #000; white-space:nowrap" -->
                        {$QUANTITY} x {format_money number=$realTaxedPrice currency_id=$CURRENCY}
                    </td>
                </tr>
                <tr>
                <td style="border-bottom:1px solid #000" colSpan="2">

	                        {loop name="category" type="category" product=$PRODUCT_ID limit="1"}
	                        	{assign var="parent_category" value=$PARENT}
	                        {/loop}

	                        {if $parent_category == 12}
	                        	{loop type="bookingsservice" name="calendar_appointment" order_id="$order_id" service_id="$PRODUCT_ID"}
	                        		{if $BOOKING_START_TS == 0}
	                        			Kein gebuchter Termin
	                        		{else}
	                            		Termin {$BOOKING_START_TS|date_format:"%d-%m-%Y"} {$BOOKING_START_TS|date_format:"%H:%M"} - {$BOOKING_STOP_TS|date_format:"%H:%M"}
	                            	{/if}
	                            {/loop}
	                         {else}
	                         <p>{hook name="product.delivery-delay" product={$PRODUCT_ID}}</p>
	                         {/if}
	        		</td>
                </tr>
                {hook name="email-html.order-confirmation.order-product" order="{$order_id}" order_product="{$ID}"}

            {/loop}
            <tr>
                <td align="right" style="text-align:right">{intl l="Total"}</td>
                <td align="right" style="text-align:right">{format_money number={$TOTAL_TAXED_AMOUNT - $POSTAGE} currency_id=$CURRENCY} </td>
            </tr>
            <tr>
                <td align="right" style="text-align:right">{intl l="Shipping:"}</td>
                <td align="right" style="text-align:right">{format_money number=$POSTAGE currency_id=$CURRENCY}</td>
            </tr>
            <tr>
                <td align="right" style="text-align:right"><strong>{intl l="Order Total"}</strong></td>
                <td align="right" style="text-align:right"><strong>{format_money number=$TOTAL_TAXED_AMOUNT currency_id=$CURRENCY}</strong></td>
            </tr>
        </table>
    {/loop}

    {hook name="email-html.order-confirmation.after-products" order=$order_id}

    <br />

    {ifhook rel="email-html.order-confirmation.footer"}
        {hook name="email-html.order-confirmation.footer" order=$order_id}
    {/ifhook}
    {elsehook rel="email-html.order-confirmation.footer"}
        <p><a href="{url path="/account"}">{intl l="View this order in your account at %shop_name" shop_name={config key="store_name"}}</a></p>

        <br />

        <h2>{intl l="Support"}</h2>
        {intl l='For any questions, or concerns, feel free to contact <a href="mailto:%mail" style="color:#3c69c1;text-decoration:none" target="_blank">%mail</a>.' mail={config key="store_email"}}<br /><br />
        <b>{intl l="Our contact us at:"}</b> <br />
<div style="font-size:11px; border-top:solid 1px #86AC34">
    <div style="width:40%; float:left">
        <strong style="text-transform:uppercase">{config key="store_name"}</strong><br>
        {config key="nwing"}<br/>
        {config key="store_address1"}<br/>
        {config key="store_zipcode"}, {config key="store_city"}<br />
        {if {config key="store_country"}}
            {loop type="country" name="store_country" id={config key="store_country"}}
                {$TITLE}
            {/loop}
        {/if} 
    </div>
        <div style="width:30%; float:left">
        Tel.{config key="store_phone"}<br>
        {config key="store_email"}<br/>
        {config key="url_site"}<br />
    </div>

    <div style="width:30%; float:left">
        <strong>Bankverbindung:</strong><br>{config key="bankname"}<br/>
        IBAN: {config key="iban"}<br>
        BIC: {config key="bic"}<br />
        UID-Nr: {config key="uid-nr"}<br />
        FN: {config key="fn"}<br />
    </div>
    
    
</div>
<div style="clear:left"></div>
<div style="font-size:10px;">
       Die Ware bleibt bis zur vollständigen Bezahlung unser Eigentum. Zahl- und klagbar in Wien. Bei Zahlungsverzug werden 1% Verzugszinsen pro Monat berechnet.
</div>

        <br />
        <br />
        {intl l="Thanks"}<br/>
    {/elsehook}
{/block}
