<section class="clearfix">
    <ol class="fs-fields">
        {form name="hookconfig.form.configure"}
        <form action="{url path='/get_configurator_data'}" method="post"  enctype="multipart/form-data">
            {form_hidden_fields form=$form}

            {if $form_error}
                <div class="alert alert-danger">{$form_error_message}</div>
            {/if}

            {form_field form=$form field='success_url'}
                <input type="hidden" name="{$name}" value="{url path='/success'}" />
            {/form_field}

            {foreach $arrElements as $element}
                {if  $element['type'] eq 'choice'}
                    {include file="includes/choices_template.html"}
                {/if}
                {if  $element['type'] eq 'text'}
                    {include file="includes/field_text_templates.html"}
                {/if}
                {if  $element['type'] eq 'textarea'}
                    {include file="includes/field_textarea_templates.html"}
                {/if}
                {if  $element['type'] eq 'file'}
                    {include file="includes/file_upload_templates.html"} 
                {/if} 
            {/foreach}
            {include file="includes/contact_form_template.html"} 
            {include file="includes/submit_template.html"} 
        </form>
        {/form}
    </ol>
</section>