.page-home #carousel{
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.carousel_custom_caption{
    height: 100%;
    width: 21%;
    display: block;
    float: left;
    background-color: #fff;
    position: absolute;
    bottom: 0.01px;
    z-index: 10;
    opacity: 0.9;
    padding-top: 10%;
}

.carousel_custom_caption h3{
    text-transform: uppercase;
    color: #0b8fad;
    font-size: 4.2vw;
    font-weight: 600;
    margin-left: 15px;
    text-align: left;
    word-wrap: break-word;
}

.carousel_custom_caption .slide_description{
    font-size: 2vw;
    font-weight: 500;
    margin-left: 15px;
    text-align: left;
    color: #5e6366;
    word-wrap: break-word;
}
.carousel_wrapper .controls{
    width: 79%;
    position: absolute;
    display: inline-block;
    left: 21%;
    z-index: 999;
    bottom: 8px;
}
.carousel_wrapper .controls .spearatorText{
    display: block;
    width: 40%;
    text-align: right;
    float: left;
    padding-top: 10px;
}

.carousel_wrapper .controls .spearatorText #slidetext{
    display: block;
    float: right;
    border-radius: 50%;
    background-color: #fff;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: #10b4cf;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
}
.carousel_wrapper .controls .spearatorText #slidetext #currentActiveSlide{
    color: #000;
}
.carousel_wrapper .controls .spearatorControlls{
    display: block;
    width: 60%;
    float: right;
    position: relative;
}

.carousel_wrapper .controls .spearatorControlls .arrowControlls{
    width: 100%;
    text-align: center;
}

.carousel_wrapper .controls .spearatorControlls .arrowControlls .goLeftControll{
    display: block;
    width: 30%;
    text-align: right;
    float: left;
    padding-top: 10px;
}
.carousel_wrapper .controls .spearatorControlls .arrowControlls .goLeftControll #toTheLeft{
    box-shadow: -1px 1px 0 rgba(255, 255, 255, 1);
    height: 25px;
    width: 25px;
    transform: rotate(45deg);
    margin-top: 12px;
    margin-left: 20px;
}

.carousel_wrapper .controls .spearatorControlls .arrowControlls .goRightControll{
    display: block;
    width: 69%;
    text-align: left;
    float: right;
}

.carousel_wrapper .controls .spearatorControlls .arrowControlls .goRightControll #toTheRight{
    box-shadow: -1px 1px 0 rgba(255, 255, 255, 1);
    transform: rotate(225deg);
    width: 35px;
    height: 35px;
    margin-top: 18px;
    margin-left: 5px;
}

.carousel_wrapper .controls .spearatorControlls .arrowControlls .goLeftControll .goLeft{
    display: block;
    float: right;
    border-radius: 50%;
    background-color: #10b4cf;
    color: #fff;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    font-size: 70px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
}
.carousel_wrapper .controls .spearatorControlls .arrowControlls .goRightControll .goRight{
    display: block;
    float: left;
    border-radius: 50%;
    background-color: #347c92;
    color: #fff;
    height: 70px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    font-size: 90px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
    borde-radius: 0px !important;
}

@media screen and (max-width: 750px) {
    .carousel_wrapper .carousel_custom_caption {
        display: none;
    }   
}