<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <import_categories>
        <import_category id="thelia.import.features">
            <title locale="fr_FR">features</title>
            <title locale="en_US">Features</title>
            <title locale="de_DE">Features</title>
        </import_category>
    </import_categories>
    <imports>
    <import id="thelia.import.feature" class="AttributesImporter\Import\FeatureImport" category_id="thelia.import.features">
            <import_descriptive locale="de_DE">
                <title>Attribute Importer</title>
                <description>
                    <![CDATA[
                    File Benötigt:
                    <ul>
                        <li>id: Feature iD</li>
                        <li>locale: Feature locale</li>
                        <li>title: Feature title</li>
                        <li>description: Feature description</li>
                    </ul>
                    ]]>
                </description>
            </import_descriptive>
        </import>  
        <import id="thelia.import.feature" class="AttributesImporter\Import\ProductFeature" category_id="thelia.import.features">
            <import_descriptive locale="de_DE">
                <title>Connect Products with Features</title>
                <description>
                    <![CDATA[
                    File Benötigt:
                    <ul>
                        <li>id: product_feature id</li>
                        <li>product id</li>
                        <li>feature id</li>
                        <li>feature_av_id</li>
                        <li>free_text_value</li>
                    </ul>
                    ]]>
                </description>
            </import_descriptive>
        </import>
        <import id="thelia.import.product" class="AttributesImporter\Import\ProductImport" category_id="thelia.import.products">
            <import_descriptive locale="de_DE">
                <title>Product Importer</title>
                <description>
                    <![CDATA[
                    File Benötigt:
                    <ul>
                        <li>materialnummer (Artikelnummer)</li>
                        <li>EAN</li>
                        <li>Brand</li>
                        
                        <li>Features</li>
                    </ul>
                    ]]>
                </description>
            </import_descriptive>
        </import>       
    </imports>
</config>
