<div class="">
    {if {in_wishlist_selection selection_id=$selection_id}}
        <a class="wishlist wishlistactive" href="{url path="/selection-wishlist/remove/$selection_id"}">
        </a>
        {loop type="auth" name="customer_info_block" role="CUSTOMER"}
        {if !{is_saved_in_wishlist_selection selection_id=$selection_id}}
            <p>This product is not really in your wish list. To really add, click the button below.</p>
            <a class="wishlist" href="{url path="/selection-wishlist/add/$selection_id"}">
            </a>
        {/if}
        {/loop}
    {else}
        <a class="wishlist" href="{url path="/selection-wishlist/add/$selection_id"}">
        </a>
    {/if}
    <input type="hidden" class="wish-list-product-id" value="{$selection_id}">
    <input type="hidden" class="wish-list-text-remove" value='{intl l="Remove from wish list" d="wishlist.fo.default"}'>
    <input type="hidden" class="wish-list-text-add" value='{intl l="Add to wish list" d="wishlist.fo.default"}'>
</div>