<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <forms>
        <form name="email.office" class="BackOffice\Form\ConfigEmailOfficeForm"/>
        <form name="export.order.pdf.form" class="BackOffice\Form\ExportOrderPdfForm" /> 
    </forms>

    <hooks>
        <hook id="admin.export.order.pdf" class="BackOffice\Hook\Admin\BackOfficeHook">
            <tag name="hook.event_listener" event="main.top-menu-tools" type="back" />
        </hook>
    </hooks>

    <services>
        <service id="send.mail.pickup.status" class="BackOffice\Listener\BackOfficeListener" scope="request">
            <argument type="service" id="mailer"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>

</config>
