{*<section class="carousel-container">
    <div id="carousel-{$carousel_id}" class="carousel slide" data-ride="carousel">
        <div class="carousel-wrapper">
            <div class="carousel-inner">
                {loop type="carousel" name="carousel{$carousel_id}" carousel_id=$carousel_id visible="1" showTitle=true height="650" resize_mode="borders"}
                <figure class="item {if $LOOP_COUNT == 1}active{/if}">
                    {if $URL}<a href="{$URL|default:'#'}">{/if}
                        <img src="{$IMAGE_URL}" alt="{$ALT}">
                        {if $URL}</a>{/if}
                    <div class="carousel-caption">   
                        {if $TITLE}<h3>{$TITLE}</h3>{/if}
                    {if $DESCRIPTION}{$DESCRIPTION nofilter}{/if}
                </div>
            </figure>
            {/loop}
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-{$carousel_id}" data-slide="prev"><span class="icon-prev"></span></a>
    <a class="right carousel-control" href="#carousel-{$carousel_id}" data-slide="next"><span class="icon-next"></span></a>
</div>
</section><!-- #carousel -->*}

{stylesheets source="Carousel" file='assets/css/carouselCustom.css'}
  <link rel="stylesheet" href="{$asset_url}">
{/stylesheets}

        <div class ="carousel_wrapper">
            <div id="carousel" class="carousel slide  carousel-fade" data-ride="carousel" data-interval="false">
                <div class="carousel-wrapper">
                    <div class="carousel-inner">
                        {$sliders=0}
                        {loop type="carousel" name="carousel{$carousel_id}" carousel_id=$carousel_id visible="1" showTitle=true height="650" resize_mode="borders" }
                        <div class="item {if $LOOP_COUNT == 1}active{/if}">
                            {if $URL}<a href="{$URL|default:'#'}">{/if}
                                <img src="{$IMAGE_URL}" alt="{$ALT}" style="width: 100%; padding: 0px;">
                            {if $URL}</a>{/if}

                            <div class="carousel_custom_caption">
                                {if $TITLE}<h3>{$TITLE}</h3>{/if}
                                {if $DESCRIPTION}<div class="slide_description">{$DESCRIPTION nofilter}</div>{/if}
                            </div>
                        </div>
                        {$sliders=$LOOP_COUNT}
                        {/loop}
                    </div>
                </div>
            </div>
            <div class="controls">
                <div class = "spearatorText">
                    <div id="slidetext"></div>
                </div>
                <div class = "spearatorControlls">
                    <div class="arrowControlls">
                        <div class="goLeftControll">
                            <div class="goLeft" data-slide="prev" onclick="$('#carousel').carousel('prev')">‹</div>
                        </div>
                        <div class ="goRightControll">
                            <div class="goRight" data-slide="next" onclick="$('#carousel').carousel('next')">›</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- #carousel -->
    
{javascripts source="Carousel" file='assets/js/carouselSlideCount.js'}
    <script src="{$asset_url}"></script>
{/javascripts}