<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

	<loops>
        <loop name="feature_av" class="FilterConfigurator\Loop\FeatureAv" />
        <loop name="image_configurator" class="FilterConfigurator\Loop\Image" />
    </loops>

    <forms>
         <form name="attributeav.modification" class="FilterConfigurator\Form\AttributeAvModificationForm"/>
         <form name="filter.configurator" class="FilterConfigurator\Form\FilterConfiguratorForm"/>
         <form name="filter.configurator.image" class="FilterConfigurator\Form\ImageModificationForm"/>
    </forms>

</config>
