.allTabs .nav-tabs{
    width: 100%;
    text-align: justify;
    display: table;
    margin-bottom: 0px;
    padding-left: 0px;
}
.allTabs .tabs{
    height: 50px;
    background: #347C92;
    color: white;
}
.allTabs .nav-tabs li{
    display: table-cell; 
    text-align: center;
    text-align: -webkit-match-parent;
    float: none;
    border-right: 2px solid #fff;
}
.tab-content{
    background-color: #fff;
}
.allTabs .nav-tabs li a{
    line-height: 50px;
    color: white;
    font-weight: 500;
    padding: 0 18px;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5em;
    width: 100%;
    border: none;
    border-radius: unset;
    text-align: center;
}
.allTabs .nav-tabs .active a{
    color: #347C92;
    background-color: #fff;
}
#category-products .products-content li{
    text-align: center;
}
.allTabs .nav>li>a:hover,
.allTabs .nav-tabs>li.active>a:focus,
.allTabs .nav-tabs>li.active>a:hover{
    background-color: unset;
}