    <form class="order_credit_create_form" action="{url path='/admin/module/ordercredit/create/'}{$order_id}" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{intl l="OrderCredit configuration" d='ordercredit.bo.default'}</h4>
                {include
                file      = "includes/inner-form-toolbar.html"
                hide_flags = true
                hide_save_and_close_button = true
                }
            </div>
            <div class="panel-body order_credit_panel_body">

            </div>
        </div>
    </form>
