<form class="order_credit_create_form" action="{url path='/admin/module/ordercredit/create/'}{$order_id}" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{intl l="OrderCredit configuration" d='ordercredit.bo.default'}</h4>
            <input type="submit" class="btn btn-sm btn-default btn-info" value="{intl l='Generate order Credit'}" title="{intl l='Generate order Credit'}" />
        </div>
        <div class="panel-body order_credit_panel_body">

        </div>
    </div>
</form>
