<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
	<hooks>
		<hook id="hookadmincrawlerdashboard.hook.back1" class="AmazonIntegration\Hook\BackHook">
			<tag name="hook.event_listener" event="main.top-menu-tools" type="back" />
			<tag name="hook.event_listener" event="main.footer-js" type="back" method="onMainJs" />
			<tag name="hook.event_listener" event="main.head-css" type="back" method="onMainCss" />
		</hook>
        <hook id="amazonintegration.configuration.hook" class="AmazonIntegration\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfigure" />
        </hook>
	</hooks>
	
    <loops>
        <loop name="amazon_orders_listing" class="AmazonIntegration\Loop\AmazonIntegrationListingLoop" />
        <loop name="amazon_products_listing" class="AmazonIntegration\Loop\AmazonProductsLoop" />
        <loop name="amazon_config_marketplace" class="AmazonIntegration\Loop\AmazonIntegrationMarketPlaceIdLoop" />
        <loop name="amazon_brand" class="AmazonIntegration\Loop\BrandLoop" />
        <loop name="amazon_currency" class="AmazonIntegration\Loop\CurrencyLoop" />
    </loops>
    
    <forms>
        <form name="amazonintegration.form.configure" class="AmazonIntegration\Form\ConfigurationForm" />
        <form name="amazonintegration.addmarketplaceid.form" class="AmazonIntegration\Form\MarketPlaceIdForm" />
        <form name="amazonintegration.rankings.form" class="AmazonIntegration\Form\GetRankingsForm" />
    </forms>
    
    <loops>
        <loop name="amazon_ranking" class="AmazonIntegration\Loop\AmazonRankings" />
        <loop name="amazon_product_categories" class="AmazonIntegration\Loop\AmazonProductCategories" />
    </loops>
    
    <commands>
    	<command class="AmazonIntegration\Commands\AmazonIntegrationRankingCommand"/>
    	<command class="AmazonIntegration\Commands\AmazonIntegrationRankingListCommand"/>
    	<command class="AmazonIntegration\Commands\AmazonIntegrationUpdateQuantityAndPriceCommand"/>
    </commands>
    
</config>
