<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
	<hooks>
		<hook id="hookadmincrawlerdashboard.hook.back1" class="AmazonIntegration\Hook\BackHook">
			<tag name="hook.event_listener" event="main.top-menu-tools" type="back" />
		</hook>
        <hook id="amazonintegration.configuration.hook" class="AmazonIntegration\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfigure" />
        </hook>
	</hooks>
	
    <forms>
        <form name="amazonintegration.form.configure" class="AmazonIntegration\Form\ConfigurationForm" />
    </forms>
    
</config>
