{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
{$admin_current_location = 'tools'}
{/block}

{block name="check-resource"}admin.page_builder{/block}
{block name="check-access"}view{/block}

{block name="page-title"}{intl l='Edit pageBuilder'}{/block}
{block name="after-bootstrap-css"}
{stylesheets source="PageBuilder" file="assets/style/page-builder-image.css"}
<link href="{$asset_url}" rel="stylesheet" type="text/css" />
{/stylesheets}
{/block}

{block name="main-content"}

{loop name="page_builder_list" type="page_builder_list" limit="1" visible="*" id=$page_builder_id}
<ul class="breadcrumb">
    <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
    <li><a href="{url path='/admin/tools'}">{intl l="Tools"}</a></li>
    <li><a href="{url path='/admin/PageBuilder'}">{intl l="PageBuilder"}</a></li>
    <li><a href="{url path='/admin/page-builder/update/%pageBuilder' pageBuilder=$page_builder_id }">{intl l="PageBuilder edit :"} {$PAGE_BUILDER_TITLE}</a></li>
</ul>
<div class="col-md-12 general-block-decorator">
    <div class="row">
        <div class="col-md-7 title">
            Edit pageBuilder #{$page_builder_id} : {$PAGE_BUILDER_TITLE} </div>
        <div class="col-md-5 actions">
        </div>
    </div>
    {if $message != ""}
    <div class="row">
        <div class="alert-block">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    {$message}
                </div>
            </div>
        </div>
    </div>
    {/if}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="tabbed-menu">
                <li class="active">
                    <a href="#general" data-toggle="tab" data-trigger="#virtual_field::change">Général</a>
                </li>
                <li class="">
                    <a href="#seo" data-toggle="tab" data-trigger="#virtual_field::change">SEO</a>
                </li>
                <li class="">
                    <a href="#images" data-toggle="tab" data-trigger="#virtual_field::change">Image</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="general"></br>

                <div class="form-container">
                    <div class="row inner-toolbar">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#elementModal">
                            Add new element
                        </button>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="elementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Input element</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3 class="modal-title" id="exampleModalLabel">Select type template</h3>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <select id="selectTypeTemplate" class="form-control">
                                            <option value="">Select template</option>
                                            {foreach from=$html_files item=f}
                                                <option value="{$f}">{$f|rtrim:'.html'|ucfirst}</option>
                                            {/foreach}
                                        </select></br></br>
                                    </div><!-- /.col-lg-6 -->
                                </div><!-- /.row -->
                                <h3 class="modal-title" id="exampleModalLabel">Select input for element</h3>
                                <form id="addNewElement" action="" method="post">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <input id="banner_URL" type="checkbox" aria-label="...">
                                                    <input id="banner_URL_in" name="banner_URL" type="hidden" aria-label="...">
                                                </span>
                                                <input type="text" class="form-control" placeholder="Banner URL" readonly="" aria-label="...">
                                            </div><!-- /input-group -->
                                        </div><!-- /.col-lg-6 -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <input id="html_text" type="checkbox" aria-label="...">
                                                    <input id="html_text_in" name="html_text" type="hidden" aria-label="...">
                                                </span>
                                                <input type="text" class="form-control" readonly="" placeholder="Html code / text" aria-label="...">
                                            </div><!-- /input-group -->
                                        </div><!-- /.col-lg-6 -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <input id="button_name" type="checkbox" aria-label="...">
                                                    <input id="button_name_in" name="button_name" type="hidden" aria-label="...">
                                                </span>
                                                <input type="text" class="form-control" placeholder="Button name" readonly="" aria-label="...">
                                            </div><!-- /input-group -->
                                        </div><!-- /.col-lg-6 -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <input id="button_url" type="checkbox" aria-label="...">
                                                    <input id="button_url_in" name="button_url" type="hidden" aria-label="...">
                                                </span>
                                                <input type="text" class="form-control" placeholder="Button URL" readonly="" aria-label="...">
                                            </div><!-- /input-group -->
                                        </div><!-- /.col-lg-6 -->
                                    </div><!-- /.row -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save element</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="form-container">
                    <div class="row">

                        {include
                        file = "includes/inner-form-toolbar.html"
                        hide_submit_buttons = true
                        hide_flags = true

                        pageUrl     = "{url path='/admin/page-builder/update/%page_builder_id' page_builder_id = $page_builder_id}"
                        closeUrl    = $close_url
                        current_id  = $page_builder_id
                        success_url = "{url path='/admin/page-builder/update/%page_builder_id' page_builder_id=$page_builder_id}"

                        current_tab = "general"
                        }


                        {loop name="page_builder_element" type="page_builder_element" page_builder_id=$page_builder_id }
                        
                            {assign var=myArray value=$VARIABLES|json_decode:true}
                            
                                <!--start element-->
                                <div class="row" style="border: 2px solid #86AC34; padding: 15px;">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon" id="sizing-addon3" style="width: 15px;">{$POSITION}</span>
                                        <a href="/admin/page-builder/delete-element/{$PAGE_BUILDER_ID}/{$ELEMENT_ID}">
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </a>
                                    </div>
                                    <div class="col-md-5 col-md-offset-1">
                                        <div class="row" >
                                            <form action="/admin/page-builder/update-element/{$PAGE_BUILDER_ID}/{$ELEMENT_ID}" method="post">
                                            {foreach from=$myArray key=k item=foo}
                                                {if $k == 'banner_URL'} 
                                                    <label for="basic-url">Banner URL</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="basic-addon3">https://example.com/banner/</span>
                                                        <input type="text" name="banner_URL" value="{$foo}" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                                    </div><br> 
                                                {elseif $k == 'html_text'} 
                                                    <label for="basic-url">Html code / text</label>
                                                    <div class="input-group">
                                                        <input type="text" name="html_text" value="{$foo}" class="form-control wysiwyg" id="basic-url" aria-describedby="basic-addon3">
                                                    </div><br>
                                                {elseif $k == 'button_name'} 
                                                    <label for="basic-url">Button name</label>
                                                    <div class="input-group">
                                                        <input type="text" name="button_name" value="{$foo}" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                                    </div><br>
                                                {elseif $k == 'button_url'} 
                                                    <label for="basic-url">Button URL</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="basic-addon3">https://www.button.url/button</span>
                                                        <input type="text" name="button_url" value="{$foo}" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                                    </div><br>
                                                {/if}
                                            {/foreach}
                                                <input type="submit" class="btn btn-default" value="Save">
                                            </form>
                                        </div>
                                    </div>
                                </div>    
                                <!--end element-->
                                <br>
                        {/loop}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="seo">

                {include file="includes/seo-tab.html"
                formAction  = "{url path='/admin/page-builder/seo/save/'}"
                pageUrl     = "{url path='/admin/page-builder/update/%page_builder_id' page_builder_id = $page_builder_id}"
                closeUrl    = $close_url
                current_id  = $page_builder_id
                success_url = "{url path='/admin/page-builder/update/%page_builder_id' page_builder_id = $page_builder_id}"
                seoType     = 'pageBuilder'
                }

            </div>
            <div class="tab-pane fade" id="images">
                <div class="image-manager form-container" >
                    <div class="row">
                        {include file="pageBuilderImageUpdate.html"
                        imageType='pageBuilder'
                        parentId=$page_builder_id
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/loop}

{/block}


{block name="javascript-last-call"}
{hook name="wysiwyg.js"}
<script>
    var pageBuilderID = {$page_builder_id};

    $(function () {
        /*--------------------------------  Load values in related product
         *--------------------------------  and content table in start of the page
         */

        window.onload = function () {
            $.ajax({
                url: '{url path="/admin/page-builder/update/showProduct/"}' + pageBuilderID,
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $('#tableProduct tr td').remove();
                    $('#product').html(data);

                }
            });

            $.ajax({
                url: '{url path="/admin/page-builder/update/showContent/"}' + pageBuilderID,
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $('#tableContent tr td').remove();
                    $('#content').html(data);
                }
            });

        };

        /*--------------------------------  Load values in select which it put in option product related
         *--------------------------------  to the category selected.
         */

        $('#category_id').change(function (event) {
            var categoryID = document.getElementById('category_id').value;

            if (categoryID != "") {
                $('#product_selector').addClass('hide');

                $.ajax({
                    url: '{url path="/admin/page-builder/update/getProductRelated/"}' + categoryID,
                    type: 'get',
                    dataType: 'json',
                    success: function (json) {
                        $('#product_id :not(:first-child)').remove();

                        var have_content = false;

                        $.each(json, function (idx, value) {
                            $('#product_id').append($('<option>').text(value.title).attr('value', value.id));

                            have_content = true;
                        });

                        if (have_content) {
                            $('#product_selector_empty').addClass('hide');
                            $('#product_selector').removeClass('hide');
                        } else {
                            $('#product_selector_empty').removeClass('hide');
                            $('#product_selector').addClass('hide');
                        }
                    }
                });
            } else {
                $('#product_selector_empty').addClass('hide');
                $('#product_selector').addClass('hide');
            }
        });

        /*--------------------------------  Add values in the page_builder_product table in the database
         *--------------------------------  related to the current pageBuilder  when click on add button.
         */
        $('#addProduct').click(function (event) {
            var productID = document.getElementById('product_id').value;

            if (productID != "") {
                $.ajax({
                    url: '{url path="/admin/page-builder/update/addProductRelated/"}' + productID + '/' + pageBuilderID,
                    type: 'get',
                    dataType: 'html',
                    success: function (data) {
                        $('#tableProduct tr td').remove();

                        $('#product').html(data);

                    }
                })
            }


        });

        /*--------------------------------  Load values in select which it put in option content related
         *--------------------------------  to the folder selected.
         */
        $('#folder_id').change(function (event) {
            var folder_ID = document.getElementById('folder_id').value;

            if (folder_ID != "") {
                $('#content_selector').addClass('hide');

                $.ajax({
                    url: '{url path="/admin/page-builder/update/getContentRelated/"}' + folder_ID,
                    type: 'get',
                    datatype: 'json',
                    success: function (json) {
                        $('#content_id :not(:first-child)').remove();

                        var have_content = false;

                        $.each(json, function (idx, value) {
                            $('#content_id').append($('<option>').text(value.title).attr('value', value.id));

                            have_content = true;
                        });

                        if (have_content) {
                            $('#content_selector_empty').addClass('hide');
                            $('#content_selector').removeClass('hide');
                        } else {
                            $('#content_selector_empty').removeClass('hide');
                            $('#content_selector').addClass('hide');
                        }
                    }
                });

            } else {
                $('#content_selector_empty').removeClass('hide');
                $('#content_selector').addClass('hide');

            }
        });
        /*--------------------------------  Add values in the page_builder_content table in the database
         *--------------------------------  related to the current pageBuilder when click on add button.
         */
        $('#addContent').click(function (event) {
            var contentID = document.getElementById('content_id').value;

            if (contentID != "") {
                $.ajax({
                    url: '{url path="/admin/page-builder/update/addContentRelated/"}' + contentID + pageBuilderID,
                    type: 'get',
                    dataType: 'html',
                    success: function (data) {
                        $('#tableContent tr td').remove();

                        $('#content').html(data);

                    }
                })
            }


        });

        $('#selectTypeTemplate').click(function (event) {
            $('#addNewElement').attr("action", "/admin/page-builder/add-new-element/" + $('#selectTypeTemplate').val() + "/" + pageBuilderID);
        });

        $('#banner_URL').click(function () {
            if ($("#banner_URL").prop("checked"))
            {
                $("#banner_URL_in").val(1);
            } else
            {
                $("#banner_URL_in").val(0);
            }
        });

        $('#html_text').click(function () {
            if ($("#html_text").prop("checked"))
            {
                $("#html_text_in").val(1);
            } else
            {
                $("#html_text_in").val(0);
            }
        });

        $('#button_name').click(function () {
            if ($("#button_name").prop("checked"))
            {
                $("#button_name_in").val(1);
            } else
            {
                $("#button_name_in").val(0);
            }
        });

        $('#button_url').click(function () {
            if ($("#button_url").prop("checked"))
            {
                $("#button_url_in").val(1);
            } else
            {
                $("#button_url_in").val(0);
            }
        });

    })
</script>
{/block}

{block name="javascript-initialization"}
{javascripts file='assets/js/dropzone.js'}
<script src="{$asset_url}"></script>
{/javascripts}
{javascripts file='assets/js/image-upload.js'}
<script src="{$asset_url}"></script>
{/javascripts}

{javascripts file='assets/js/jquery-ui-1.10.3.custom.min.js'}
<script src="{$asset_url}"></script>
{/javascripts}

<script>
    $(function () {
        $.imageUploadManager.initImageDropZone();
    });
</script>
{/block}

{block name="javascript-last-call"}
{hook name="page_builder.edit-js" location="page-builder-edit-js" page_builder_id={$page_builder_id} }
{hook name="wysiwyg.js" location="wysiwyg-page-builder-edit-js" }
{/block}