.navbar-customer{  
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 0px;
    height: 40px;
    max-width: 20%;
}
.navbar-customer li{
    float: right;
}
.navbar-default .navbar-nav>li>a:after,
.navbar-default .navbar-nav>li>a:before,
.navbar .navbar-customer li a.login:after,
.navbar .navbar-customer li a.login:before{
   content: none;
}

.navbar-default .navbar-customer>li{
    height: 40px;
    padding: 0px;
    margin: 0px;
}
.navbar-default .navbar-customer>li>a{
    height: auto;
    padding: 0px;
    margin: 0px;
    padding-top: 4px;
    background-color: #10B4CF;
}
.navbar-default .navbar-customer>li>a:hover{
    background-color: #10B4CF !important;
}
.navbar .navbar-customer li a.login, .navbar .navbar-cart li a.cart, .navbar.navbar-secondary .search-container, .navbar li a.logout, .navbar li a.account{
    line-height: unset;
    background-color: transparent;
}
.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:focus, .navbar .navbar-nav>.open>a:hove{
    background-color: #10B4CF;
}
.navbar-customer img{
    vertical-align: middle;
    display: block;
    position: relative;
    left: 40%;
}

.navbar-customer li a.logout{
    padding-left: 5px;
}
.navbar-customer li a.login{
    padding-right: 12px;
}
    