<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12 form-group group-btn align-center wish-list-button">
	{if {in_wishlist product_id=$product_id}}
	    <a class="btn btn-primary in-wish-list" href="{url path="/wishlist/remove/$product_id"}">
	    	<i class="fa fa-heart"></i>
	    	<span class="text">{intl l="Remove from wish list" d="wishlist.fo.easybad"}</span>
	    </a>
	    {loop type="auth" name="customer_info_block" role="CUSTOMER"}
	        {if !{is_saved_in_wishlist product_id=$product_id}}
	            <p>This product is not really in your wish list. To really add, click the button below.</p>
	            <a class="btn btn-primary" href="{url path="/wishlist/add/$product_id"}">
	            	<i class="fa fa-heart-o"></i>
	            	<span class="text">{intl l="Add to wish list" d="wishlist.fo.easybad"}</span>
	            </a>
	        {/if}
	    {/loop}
	{else}
	    <a class="btn btn-primary" href="{url path="/wishlist/add/$product_id"}">
	    	<i class="fa fa-heart-o"></i>
	    	<span class="text">{intl l="Add to wish list" d="wishlist.fo.easybad"}</span>
	    </a>
	{/if}
	<input type="hidden" class="wish-list-product-id" value="{$product_id}">
	<input type="hidden" class="wish-list-text-remove" value='{intl l="Remove from wish list" d="wishlist.fo.easybad"}'>
	<input type="hidden" class="wish-list-text-add" value='{intl l="Add to wish list" d="wishlist.fo.easybad"}'>
</div>