.slider-handle{
    background-image: linear-gradient(to bottom, #a9a9a9 0, #a9a9a9 100%);
}

.slider-selection.tick-slider-selection, .slider-tick.in-selection{
    background-image: linear-gradient(to bottom, #fcfcfc 0, #fcfcfc 100%);
}

span.criteria-pagination{
    cursor: pointer;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.cr-icon {
    color: #b6357b;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.multiselect {
	min-width:180px;
}

.multiselect .multiselect-selected-text{
	display:inline-block;
	min-width:145px;
    color:#666;
    font-size:12px;
    text-transform: none;
}
.product-filter{
	background:#F3F5F8;
}

#category-products .toolbar-bottom,
#category-products .list-unstyled {
	display: inline-block;
}

/* configurator */

.nav-tabs>li, .nav-tabs>li>a {
  display: block;
  position: relative;
  padding: 10px 8px;
}

.category-container {
	display: block;
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    width: 100%;
    margin-bottom:0px;
}

.main-category{
	color: #fff;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    display: list-item;
    text-align: -webkit-match-parent;
}
.category-head{
    z-index: 3;
    background: #86AC34;
    height: 45px;
    font-size: 14px;
    line-height: 1.2em;
    display: table;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    transition: background-color .2s;
}

.category-head span{
	display: inline-block;
    vertical-align: middle;
    padding-left: 0px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-align: left;
}

.category-head span.active:after{
	position: absolute;
    width: 32px;
    height: 32px;
   	content: '';
    top: 5px;
    right: 20px;
    background-image: url('../img/green_check.png');
    background-size: 32px 32px;
    border-radius: 50%;
}

.category-head.active span.active:after{
	position: absolute;
    width: 32px;
    height: 32px;
   	content: '';
    top: 5px;
    right: 20px;
	background-image: url('../img/white_check.png');
	background-size: 32px 32px;
    border-radius: 50%;
}

.category-head:hover span.active:after{
	position: absolute;
    width: 32px;
    height: 32px;
   	content: '';
    top: 5px;
    right: 20px;
	background-image: url('../img/white_check.png');
	background-size: 32px 32px;
    border-radius: 50%;
}
.mobileFilterItem button{
  color: #86AC34;
}
.mobileFilterItem button:hover,
.mobileFilterItem button:active,
.mobileFilterItem button:focus,
.mobileFilterItem button [aria-expanded="true"]{
  color: #ffffff;
}
/*.mobileFilterItem button [aria-expanded=true]{

}*/
.mobileFilterItem button{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.mobileFilterItem .tab-content{
  margin-bottom: 0px;
  border: 1px solid #86AC34;
}
.mobileFilterItem .tab-content .checkbox{
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.options-container {
	display: none;
	position: relative;
    background-color: #fff;
    overflow: hidden;
    display: none;
    margin-bottom: 10px;
    z-index: 3;
    right: 0;
    max-height: 430px;
    display: none;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
    border: 1px solid #ccc;
}
.filter_row .col_md_12{
padding-left:0px;
}
.options_collection{
	position: relative;
	min-height: 1px;
}

.configurator-image img {
	width: 100%;
}

.configurator-title{
	font-size: 24px;
    font-family: "quicksand"!important;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    text-align: left;
    margin-top: 15px;
}
.configurator-description{
    font-family: 'Open Sans', sans-serif;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: justify;
	overflow-wrap: break-word;
}
.tab-pane .checkbox,
.card .tab-content .checkbox{
	margin-top: 0px;
	min-height: 205px;
}
ul.category-container:first-child {
	margin-left: 0 !important;
}

.category-container.nav-tabs li a,
.category-container.nav-tabs li.active a:not(.active) {
	color: #86AC34;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
}

.category-container.nav-tabs li.active a:hover,
.category-container.nav-tabs li a:hover {
	background-color: #86AC34;
}

.category-container.nav-tabs li.active a.active{
	background-color: #86AC34;
	color: #fff;
}

.category-container.nav-tabs li a:hover span {
	color: #fff;
}

.category-container li{
    padding-left: 0px;
    border-left-width: 0px;
    margin-bottom: 10px;
}
.match-filter ul.nav-tabs{
	background-color: #fff;
	border-bottom: none;
}

.tab-content{
	clear: both;
  	overflow: hidden;
}
.tab-content label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
  color: #7a7a7a;
}
.tab-content input[type="checkbox"]:empty {
  display: none;
}
.tab-content input[type="checkbox"]:empty ~ label {
  position: relative;
  text-align: left;
}
.tab-content input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2em;
  background: #D1D3D4;
  border-radius: 1px 0 0 1px;
}

.tab-content input[type="checkbox"]:focus:not(:checked) ~ label,
.mobileFilterItem .tab-content .checkbox input[type="checkbox"]:focus:not(:checked) ~ label{
  color: #86AC34;
  border: 1px solid #86AC34;
}
.tab-content .checkbox input[type="checkbox"]:focus:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .6em;
  color: #fff;
}
.tab-content .checkbox input[type="checkbox"]:checked ~ label {
  border: 1px solid #86AC34;
  color: #86AC34;
  font-weight: bold;
}
.tab-content .checkbox input[type="checkbox"]:checked ~ label:before,
.card .tab-content .checkbox .tab-content .checkbox input[type="checkbox"]:checked ~ label:before{
  content: '\2714';
  text-indent: .6em;
  background-color: #ccc;
}
.tab-content input[type="checkbox"]:not(:checked) ~ label {
  color: #7a7a7a;
}
.tab-content .checkbox input[type="checkbox"]:not(:checked) ~ label:before {
  content: '';
  text-indent: .6em;
  color: #fff;
}
.tab-content .checkbox input[type="checkbox"]:not(:checked):focus ~ label{
  border: 1px solid #D1D3D4;
}

/*.card .tab-content .checkbox*/
@media (-moz-touch-enabled: 0), (pointer:fine) {
    .tab-content .checkbox label:hover{
      border: 1px solid #86AC34;
      color: #86AC34;
    }
    .tab-content .checkbox span:hover{
      color: #86AC34; 
    }
}
.tab-content .checkbox input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #86AC34;
}

.checkbox span{
	display: block;
	position: relative;
	margin-left: 20px;
    text-indent: 0px;
    line-height: initial;
    margin-top: 10px;
}
.checkbox p{
    position: relative;
    width: 150px;
    height: 150px;
}
.checkbox p img{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
    margin-left: 20px;
}

.checkbox-box {
	content: '\2714';
    text-indent: .6em;
    color: #333;
}