{$products_in_wish_list=0}
{ifloop rel="wishlist"}
	{loop name="wishlist" type="wishlist"}
	    {$products_in_wish_list = $WISHLIST_COUNT}
    {/loop}
{/ifloop}
<ul class="nav navbar-nav navbar-wish-list navbar-left">
	<li class="dropdown pull-right wish-container {if $products_in_wish_list}wish-not-empty{/if}">
	    <a href="{url path="/wish-list"}" rel="nofollow" class="wish">
	        <i class="fa fa-heart-o"></i> <span class="badge">{$products_in_wish_list}</span>
	    </a>
	    <div class="dropdown-menu wish-content">
	    	{if $products_in_wish_list}
	        	<p>{intl l="You have %number items in your wishlist." d="wishlist.fo.default" number=$products_in_wish_list}</p>
	        {else}
	        	<p>{intl l="You have no items in your wishlist." d="wishlist.fo.default"}</p>
	        {/if}
	    </div>
	</li>
</ul>