<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="fulfilment_center" class="MultipleFullfilmentCenters\Loop\FulfilmentCenter" />
        <loop name="product_stock_fulfilment_center" class="MultipleFullfilmentCenters\Loop\ProductStockFulfilmentCenter" />
        <loop name="fulfilment_center_pick_up_address" class="MultipleFullfilmentCenters\Loop\OrderPlacedPickUpAddress" />
    </loops>

    <forms>
        <form name="locationstock.form" class="MultipleFullfilmentCenters\Form\LocationStockForm" />  
        <form name="addlocation.form" class="MultipleFullfilmentCenters\Form\AddLocationForm" />
    </forms>

	<hooks>
        <hook id="multiplefullfilmentcenters.edit.product" class="MultipleFullfilmentCenters\Hook\Admin\LocationStockEditHook" scope="request">
            <tag name="hook.event_listener" event="product.tab-content" type="back" method="onProductStock" />
            <tag name="hook.event_listener" event="product.order-fulfilment-center-address" type="back" method="orderLocationAddress" />
            <tag name="hook.event_listener" event="product.order-pdf-fulfilment-center-address" type="pdf" method="orderLocationAddressPdf" />
            <tag name="hook.event_listener" event="product.order-email-fulfilment-center-address" type="email" method="orderLocationAddressEmail" />
        </hook>

        <hook id="multiplefullfilmentcenters.product" class="MultipleFullfilmentCenters\Hook\Front\LocationStockHook" scope="request">
            <tag name="hook.event_listener" event="product.fulfilment-center" type="front" method="locationStockOrderInvoice" />
            <tag name="hook.event_listener" event="product.fulfilment-center-address" type="front" method="locationStockOrderPlaced" />
        </hook> 
    </hooks>
    
    <services>
		<service id="update.order.localpickup" class="MultipleFullfilmentCenters\Listener\OrderLocalPickup">
			<tag name="kernel.event_subscriber"/>
		</service>
	</services>
</config>
