<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="delivery_delay_product" class="DeliveryDelay\Loop\DeliveryDelayProduct" />
        <loop name="fulfilment_center" class="MultipleFullfilmentCenters\Loop\FulfilmentCenter" />
        <loop name="product_stock_fulfilment_center" class="MultipleFullfilmentCenters\Loop\ProductStockFulfilmentCenter" />
    </loops>

    <forms>
        <form name="locationstock.form" class="MultipleFullfilmentCenters\Form\LocationStockForm" />  
        <form name="addlocation.form" class="MultipleFullfilmentCenters\Form\AddLocationForm" />
    </forms>

	<hooks>
        <hook id="multiplefullfilmentcenters.edit.product" class="MultipleFullfilmentCenters\Hook\Admin\LocationStockEditHook" scope="request">
            <tag name="hook.event_listener" event="product.tab-content" type="back" method="onProductStock" />
            <tag name="hook.event_listener" event="product.edit-js" type="back" method="onProductStockJs" />
        </hook>
        <hook id="multiplefullfilmentcenters.product" class="MultipleFullfilmentCenters\Hook\Front\LocationStockHook" scope="request">
            <tag name="hook.event_listener" event="product.delivery-delay" type="front" method="onProductDeliveryDelay" />
            <tag name="hook.event_listener" event="product.details-bottom" type="front" method="onProductDetailsBottom" />
        </hook>
    </hooks>
</config>
