<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>SepaImporter\SepaImporter</fullnamespace>
    <descriptive locale="en_US">
        <title>Sepa Engineering Importers</title>
    </descriptive>
    <descriptive locale="de_DE">
        <title>Sepa Engineering Importers</title>
    </descriptive>
    <languages>
        <language>de_DE</language>
        <language>en_US</language>
    </languages>
    <version>1.2</version>
    <authors>
        <author>
            <name>Emanuel Plopu</name>
            <email>emanuel.plopu@sepa.at</email>
        </author>
        <author>
            <name>Florin Catana</name>
            <email>emanuel.plopu@sepa.at</email>
        </author>
        <author>
            <name>Alexandra Stranici</name>
            <email>emanuel.plopu@sepa.at</email>
        </author>
        <author>
            <name>Adrian Padurean</name>
            <email>emanuel.plopu@sepa.at</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.3.0</thelia>
    <stability>prod</stability>
</module>
