<div class="multistepForm">

    {if $fromHook == 1}
        {include file="form-with-hook.html"}
    {else}
        {include file="form-without-hook.html"}
    {/if}

</div>

<script>
    function alertFromFront(str) {
        $("#alert-from-front").html($("#alert-from-front").html() + "<br/>" + str);
        $("#alert-from-front").show();
    }

    function resetAlert() {
        $("#alert-from-front").html('');
    }

    $(".answer-type").on("input", function () {
        str = $(this).attr("data-id");
        if ($(this).val())
        {
            $(".class-" + str).removeAttr("disabled");
            $(".class-" + str).css("background-color", "#15589c");
        } else {
            $(".class-" + str).attr("disabled", true);
            $(".class-" + str).css("background-color", "#f1f1f1");
        }
    });
</script>