/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2018, 9:36:17 AM
    Author     : secur
*/


/*---------------*/
/***** Honey *****/
/*---------------*/
figure.effect-honey {
  background: #10B4CF;
  overflow: hidden;
  cursor: pointer;
}
figure.effect-honey img {
  opacity: 0.9;
  transition: opacity 0.35s;
}
figure.effect-honey:hover img {
  opacity: 0.1;
}
figure.effect-honey h2 {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  height: 100%;
  width: 100%;
  text-align: center; 
  transform: translate3d(0, 20px, 0);
}
figure.effect-honey h2 i {
  font-style: normal;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(0, -50px, 0);
  font-size:14px;
  text-align: center; 
  display:block
}

figure.effect-honey h2 i.bath-size-style {
  font-size:14px;
   padding:10px;
   margin:10px
}
figure.effect-honey h2 i.bath-price {
  font-size:40px;
  color:#fff;
  border:4px solid #FFF;
  padding:10px;
  max-width:220px;
  margin:10px auto;
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
  transition: transform 0.35s;
}
figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h2 i{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

