{$rating={meta meta="COMMENT_RATING" key="product" id=$product_id}}
{if $rating}
	{function name=comment_stars empty=1}
	     {$star='<span class="glyphicon glyphicon-star"></span>'}
	     {$star_empty='<span class="glyphicon glyphicon-star-empty"></span>'}
	
	     {for $foo=0 to 4}
	         {if $value > $foo}
	             {$star nofilter}
	         {elseif $empty == 1}
	             {$star_empty nofilter}
	         {/if}
	     {/for}
	 {/function}
	 <p class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 rating">
	     <span class="text-primary">{comment_stars value=$rating}</span>
	 </p> 
{/if}