<table class="table table-striped table-condensed">
    <caption class="clearfix">
        <thead>
            <tr>
                <th class="text-center">{intl l='Linux user' d='crondashboard.bo.default'}</th>
                <th>{intl l="PID" d='crondashboard.bo.default'}</th>
                <th class="text-center">{intl l="Process Name" d='crondashboard.bo.default'}</th>
                <th>{intl l="CPU" d='crondashboard.bo.default'}</th>
                <th>{intl l="MEM" d='crondashboard.bo.default'}</th>
                <th>{intl l="VSZ" d='crondashboard.bo.default'}</th>
                <th>{intl l="RSS" d='crondashboard.bo.default'}</th>
                <th>{intl l="TTY" d='crondashboard.bo.default'}</th>
                <th>{intl l="STAT" d='crondashboard.bo.default'}</th>
                <th>{intl l="Start" d='crondashboard.bo.default'}</th>
                <th>{intl l="Time" d='crondashboard.bo.default'}</th>
                <th class="text-center" >{intl l="Command" d='crondashboard.bo.default'}</th>
                <th class="actions text-center">{intl l='Actions' d='crondashboard.bo.default'}</th>
            </tr>
        </thead>
        <tbody>
			{foreach from=$arrProcesses key=k item=v}
				{include file="includes/process_controll_item.html"}
			{/foreach}            	
        </tbody>
    </caption>
</table>