{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'modules'}
{/block}

{block name="page-title"}{intl l='Filter configurator'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}

{block name="main-content"}

{assign order_tab {$tab|default:$smarty.get.tab|default:"general"}}
{loop type="filter_configurator" name="filter_configurator" id=$parentId locale=$edit_language_locale}

	<div class="features">
	
	    <div id="wrapper" class="container">
	    	
		        <ul class="breadcrumb">
		            <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
		            <li><a href="{url path='/admin/modules'}">{intl l="Modules"}</a></li>
		            <li><a href="{url path='admin/module/FilterConfigurator'}">{intl l="Filter configurator"}</a></li>
		            <li>{intl l='Editing configurator "%name"' name={$TITLE}}</li>
		        </ul>
			 <div class="col-md-12 general-block-decorator">
	             <div class="row">
	                 <div class="col-md-7 title">
	                     {intl l='Create new configurator'}
	                 </div>
	             </div>
				<ul class="nav nav-tabs" id="tabbed-menu">
				    <li {if $order_tab == 'general'}class="active"{/if}><a href="#general" data-tab-name="general" data-toggle="tab">{intl l="General description"}</a></li>
					<li {if $order_tab == 'images'}class="active"{/if}>
	                    <a href="#images"
	                       data-toggle="tab"
	                       data-href="{url path="/admin/modules/filter-configurator/image/configurator/%id/form-ajax" id=$parentId}"
	                       data-callback="$.imageUploadManager.initImageDropZone">
	                        {intl l="Images"}
	                    </a>
	                </li>
				</ul>
		        <div class="tab-content">
					<div class="tab-pane fade {if $order_tab == 'general'}active in{/if} form-container" id="general">  	
						{form name="filter.configurator"}
						<form method="POST" action="{url path='/admin/modules/filter-configurator/update/%id/save' id=$parentId}" {form_enctype} class="clearfix">
						
							{include file="includes/inner-form-toolbar.html" close_url="{url path='admin/module/FilterConfigurator'}"}
					        {form_hidden_fields}
					
					        {form_field field='success_url'}
					              {* on success, redirect *}
					              <input type="hidden" name="{$name}" value="{url path='/admin/modules/filter-configurator/update/%id' id=$parentId}" />
					        {/form_field}
					
					        
					       	{if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}
					
							   {form_field field='id'}
	                                            <input type="hidden" name="{$name}" value="{$ID}" />
	                                        {/form_field}
	                             
	                        {form_field field='locale'}
	                       		<input type="hidden" name="{$name}" value="{$edit_language_locale}" />
	                        {/form_field}           
	                        						
					        {render_form_field field="title" value="{$TITLE}"}
					        
					        {custom_render_form_field  form=$form field='category_id'}
		                        <select {form_field_attributes form=$form field='category_id'} name="category">
								    {loop name="categories-tree" type="category-tree" category="0"}
								        <option value="{$ID}" {if $ID == $CATEGORY} selected {/if}>
								        	{"-"|str_repeat:$LEVEL} {$TITLE} {if $CHILD_COUNT != 0}({$CHILD_COUNT}){/if}
								        </option>
								    {/loop}
								</select>
							{/custom_render_form_field}
							
							{render_form_field field="chapo" value="{$CHAPO}"}
							{render_form_field field="description" extra_class="wysiwyg"  value="{$DESCRIPTION}"}
						</form>										
						{/form}
							
					</div>
					<div class="tab-pane fade" id="images">
		                <div class="text-center"><span class="loading">{intl l="Please wait, loading"}</span></div>
		            </div>
				</div>
			</div>
		</div>
	</div>
{/loop}
						
{/block}
{block name="javascript-initialization"}

    {javascripts file='assets/js/dropzone.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/image-upload.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/bootstrap-editable/bootstrap-editable.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
	{javascripts file='assets/js/bootstrap-switch/bootstrap-switch.js'}
	    <script src="{$asset_url}"></script>
	{/javascripts}
    {javascripts file='assets/js/jquery.typewatch.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/jquery-ui-1.10.3.custom.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

<script>
$(function() {
	
    // Atomatic ajax tab load, if data-href is defined.
    $('.nav-tabs a[data-href]').on('shown.bs.tab', function(ev) {
        var $this = $(this);
        $($this.attr('href')).load($this.data('href'), function(ev) {
            if($this.data('callback')) {
                eval($this.data('callback') + '();');
            }
        });

    });
    $('.nav-tabs a[data-trigger]').on('shown.bs.tab', function(ev) {
        var $this = $(this);
        var trigger = $this.data('trigger');
        var triggers = trigger.split('::');
        if (triggers.length == 2) {
            $(triggers[0]).trigger(triggers[1]);
        }
    });

    // Load active tab
    $('.nav-tabs a[href="#{$current_tab}"]').trigger("click");

});

</script>
{/block}

{block name="javascript-last-call"}
    {hook name="wysiwyg.js" location="wysiwyg-product-edit-js" }
{/block}
