{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'order'}
{/block}

{block name="page-title"}{intl l='Edit feature characteristic'}{/block}

{block name="main-content"}
		
	<div class="features edit-feature">
		<div id="wrapper" class="container">
			{loop name="feature_edit" type="feature" id=$feature_id backend_context="1" lang=$edit_language_id}
				{loop name="feature_av" type="feature_av" feature_av_id=$feature_av_id backend_context="1" locale=$edit_language_locale}
	            <ul class="breadcrumb">
	    			<li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
	                <li><a href="{url path='/admin/configuration'}">{intl l="Configuration"}</a></li>
	                <li><a href="{url path='/admin/configuration/features'}">{intl l="Features"}</a></li>
	                <li><a href="{url path='/admin/configuration/features/update/' feature_id=$feature_id}">{intl l="Feature %name" name=$TITLE}</a></li>
	                <li>{intl l="Editing characteristic feature %title" title=$FEATURE_AV_TITLE}</li>
	            </ul>
			
			
			
			<div class="row">
    			<div class="col-md-12 general-block-decorator">
    				<div class="row">

    					<div class="col-md-12 title title-without-tabs">
    					   {intl l='Edit feature "%name"' name={$FEATURE_AV_TITLE}}
    					</div>

                        <div class="col-md-12">
	                        <div class="form-container">
	                            {form name="attributeav.modification"}
		                        <form method="POST" action="{url path='/admin/configuration/feature-av/save'}" {form_enctype} class="clearfix">

		                             {include file="includes/inner-form-toolbar.html" close_url="{url path='/admin/configuration/features/update/' feature_id=$feature_id}"}

		                             <div class="col-md-6">

		                                <p class="title title-without-tabs">{intl l='Feature information'}</p>

                                        {form_field field='id'}
                                            <input type="hidden" name="{$name}" value="{$feature_av_id}" />
                                        {/form_field}

     	                                {* Be sure to get the feature av ID, even if the form could not be validated *}
     	                                <input type="hidden" name="feature_id" value="{$feature_av_id}" />

     						        	{form_hidden_fields}

     						        	{form_field field='success_url'}
     						        		<input type="hidden" name="{$name}" value="{url path='/admin/configuration/feature-av/update/%feature_id/%feature_av_id' feature_av_id=$feature_av_id feature_id=$feature_id}" />
     						        	{/form_field}

     			                        {form_field field='locale'}
     			                        	<input type="hidden" name="{$name}" value="{$edit_language_locale}" />
     			                        {/form_field}

     					            	{if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}

                                      	{render_form_field field="title" value="{$FEATURE_AV_TITLE}"}
										{render_form_field field="chapo" value="{$FEATURE_AV_CHAPO}"}
										{render_form_field field="description" extra_class="wysiwyg" value="{$FEATURE_AV_DESC}"}
										{render_form_field field="postscriptum" value="{$FEATURE_AV_POSTSCRIPTUM}"}

		    						</div>
		    						
			  					</form>
     			            {/form}
     					  </div>
                       </div>
   				</div>
   			</div>
			</div>
			{/loop}
			{/loop}
		</div>
	</div>

{/block}
{block name="javascript-last-call"}
    {hook name="wysiwyg.js" location="wysiwyg-feature-edit-js" }
{/block}