<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>PageBuilder\PageBuilder</fullnamespace>
    <descriptive locale="en_US">
        <title>PageBuilder of product and/or content</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>PageBuilder de produits et/ou de contenus</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.1.2</version>
    <authors>
        <author>
            <name>Catana Florin</name>
            <email>florian.catana@sepa.at</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.3.3</thelia>
    <stability>other</stability>
</module>
