{extends file='layout.tpl'}

{block name="init"}
{$category_id={category attr="id"}}
{/block}


{* Body Class *}
{block name="body-class"}page-category{/block}

{* Page Title *}
{block name='no-return-functions' append}
{if $category_id}
    {loop name="category.seo.title" type="category" id=$category_id limit="1"}
        {$page_title = {$META_TITLE}}
    {/loop}
{/if}
{/block}

{* Meta *}
{block name="meta"}
{if $category_id}
    {loop name="category.seo.meta" type="category" id=$category_id limit="1"}
        {include file="includes/meta-seo.html"}
    {/loop}
{/if}
{/block}

{* Feeds *}
{block name="feeds"}
{if $category_id}
    <link rel="alternate" type="application/rss+xml" title="{intl l='All products in'} {category attr='title'}" href="{url path="/feed/catalog/%lang/%category_id" lang={lang attr="locale"} category_id={category attr="id"}}" />
{/if}
{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
{if $category_id}
    {$breadcrumbs = []}
    {loop name="category_path" type="category-path" category=$category_id}
        {$breadcrumbs[] = ['title' => {$TITLE}, 'url'=> {$URL nofilter}]}
    {/loop}
{/if}
{/block}

{* Content *}
{block name="main-content"}

{$limit={$smarty.get.limit|default:24}}
{$page={$smarty.get.page|default:1}}
{$product_order={$smarty.get.order|default:'manual'}}


{hook name="category.top" category="$category_id"}

    <div class="main row">


        {hook name="category.main-top" category="$category_id"}
        <aside class="col-left col-md-3 " role="complementary" itemscope itemtype="http://schema.org/WPSideBar">
            {include file="includes/menu.html"}
            
        </aside>  
        <article class="col-main col-md-9  {$smarty.get.mode|default:"grid"}" role="main">

            {hook name="category.content-top" category="$category_id"}

            {*if #category_display_detail# && $category_id*}
            
            <section class="category-description">
                {loop name="category.description" type="category" id={$category_id} limit="1" }
                {if $PARENT!=0 && $category_id}
                    <!--h1 id="main-label" class="page-header">{category attr="title"}</h1-->
                    {loop name="category.image" type="image" source="category" source_id={$ID} resize_mode="borders"}
                    <p><a href="{$TITLE}"><img itemprop="image" src="{$IMAGE_URL nofilter}" alt="{$TITLE}" class="img-responsive"></a></p>
                
                    {/loop}
                    {if $DESCRIPTION}
                    <!--div class="description">
                        {$DESCRIPTION nofilter}
                    </div-->
                    {/if}
                    {if $POSTSCRIPTUM}
                    <small class="postscriptum">
                        {$POSTSCRIPTUM}
                    </small>
                    {/if}
                {/if}
                  {if $PARENT==0 && $category_id}
                   
                    {loop name="category.image" type="image" source="category" source_id={$ID} resize_mode="borders" limit=1 }
                    <p><a href="{$CHAPO|default:'#'}"><img itemprop="image" src="{$IMAGE_URL nofilter}" alt="{$TITLE}" class="img-responsive"></a></p>
                <a href="{$CHAPO|default:'#'}">
                    <div class="category-caption" >
                        <div class="banner-title">{if $DESCRIPTION}{$DESCRIPTION nofilter}{/if}</div>
                        {if $TITLE!=""}
                        	<button class="btn btn-1 btn-1-a btn-1-responsive">{$TITLE nofilter}</button>
                        {/if}
                    </div>
</a>
                    {/loop}
                    {if $DESCRIPTION}
                    <!--div class="description">
                        {$DESCRIPTION nofilter}
                    </div-->
                    {/if}
                    {if $POSTSCRIPTUM}
                    <small class="postscriptum">
                        {$POSTSCRIPTUM}
                    </small>
                    {/if}
                {/if}
                {/loop}
            </section>
           
            {*/if*}
            
            <div class = "row configurator_details">
            	{loop name="category_configurator_details" type="category_configurator_details" category="{$category_id}"}
            		<div class="configurator-image col-md-12 col-sm-12 col-xs-12">
		           		{loop type="image_configurator" name="image_configurator" source='configurator' order="manual" id={$CONFIGURATOR_DETAILS_IMAGE} resize_mode="borders" visible="*"}
		           			 <img src="{$IMAGE_URL nofilter}" alt="{$TITLE}">
		           		{/loop}
		       		</div>
		       		<div class="configurator-title col-md-12 col-sm-12 col-xs-12">
		       			{$CONFIGURATOR_DETAILS_TITLE}
		       		</div>
		       		<div class="configurator-description col-md-12 col-sm-12 col-xs-12">
		       			{$CONFIGURATOR_DETAILS_DESCRIPTION nofilter}
		       		</div>
		       	{/loop}
			</div>

            <div class="row filter_row">
	            <div class="col-md-12">
	            	<div class="match-filter bg-light-grey clean">
	            		<ul class = "filters category-container nav nav-tabs">
	            			{loop name="category_configurator" type="category_configurator" category="{$category_id}"}
	            			<li class = "filter col-md-3 main-category">
	            				<a class="category-head" a data-toggle="tab" href="#{$C_FEATURE_ID}">
	            					<span>
	            						<div>{$C_FEATURE_TITLE}</div>
	            					</span>
	            				</a>
	            			</li>
	            			{$featarray[$C_FEATURE_ID] = $C_FEATURE_TITLE}
	            			{/loop}
	            		</ul>
	            		{assign var="feature_counter" value=0}
	            		<div class="tab-content col-md-12 options_collection">
	            		{foreach $featarray as $value}
	            			<div id="{$value@key}" class="tab-pane fade options-container clean row">
		            			{loop name="filter_features_value" type="filter_features_value" feature_id={$value@key} }
		            			{assign var=feature_counter value=$feature_counter+1}
									<div class="checkbox filter-option col-md-4 col-sm-12 ">	<!-- {$FEAT_AV_ID} -->
										<div class="controller_wrapper clean checkbox-box">
											<div class="checkbox">
												<input type="checkbox" data-name="level_price" value="all" id="{$value@key}_{$value}_{$FEAT_AV_I18n_TITLE}_{$feature_counter}" name="{$value@key}_{$value}_{$FEAT_AV_I18n_TITLE}_{$feature_counter}" data-tracked="true">
												<label for="{$value@key}_{$value}_{$FEAT_AV_I18n_TITLE}_{$feature_counter}">
													<span>{$FEAT_AV_I18n_TITLE}</span> 
													{strip}{$FEAT_AV_I18n_DESCRIPTION nofilter}{/strip}
												</label>
											</div>
										</div>
									</div>
								 {/loop}
							 </div>
						{/foreach}
	            		</div>	            		
	            	</div>
	            </div>
            </div>
			
            {if #category_display_subcategories#}
            {ifloop rel="subcategories"}
                <div class="block-links">
                    <div class="block-content">
                        <ul>
                            {loop name="subcategories" type="category" parent=$category_id}
                            {assign var="subcategorie_title" value=$TITLE}
                                <li>
                                    <a href="{$URL}">{$TITLE}</a>
                                </li>
                            {/loop}
                        </ul>
                    </div>
                </div>
            {/ifloop}
            {/if}

            {*ifloop rel="product_list"*}
            
            {assign var="search_criteria" value=$smarty.get.criteria}
            {assign var="search_category" value=$smarty.get.category_id}
            {assign var="search_brands" value=$smarty.get.brands}
            {assign var="search_price_min" value=$smarty.get.price_min}
            {assign var="search_price_max" value=$smarty.get.price_max}
            {assign var="search_new" value=$smarty.get.new}
            {assign var="search_promo" value=$smarty.get.promo} 
            {assign var="search_limit" value=$smarty.get.limit}
            {assign var="search_page" value=$smarty.get.page}
            {assign var="search_order" value=$smarty.get.order}
               
            {hook name="criteria-search.search-page" criteria=$search_criteria category=$search_category brands=$search_brands price_min=$search_price_min price_max=$search_price_max limit=$limit  new=$search_new promo=$search_promo limit=$search_limit page=$search_page order=$search_order}
            
            <div id="category-products">
                <div class="products-content">
                    <ul class="list-unstyled row"> 
                                {include file="criteria-search/search-results.html" search_attribute_loop=true criteria=$search_criteria category=$search_category brands=$search_brands price_min=$search_price_min price_max=$search_price_max limit=$limit  new=$search_new promo=$search_promo limit=$search_limit page=$search_page order=$search_order}
                    </ul>
                </div>
            </div><!-- /#category-products -->

            {*/ifloop*}
            {*elseloop rel="product_list"*}
                {if $category_id eq #services_category_id#}<!-- services_category_id is set in configs\variables.conf -->
<!--  
  					<ul id="og-grid" class="og-grid">
						{loop name="subcategories" type="category" parent=$category_id }
							{assign var="subcategorie_title" value=$TITLE}
							{assign var="subcategorie_id" value=$ID}	

							{loop name="category.image" type="image" source="category" source_id={$ID}  resize_mode="borders"}
								<li>
									<a class="service_category"   >
										<img itemprop="image" src="{$IMAGE_URL nofilter}" alt="{$subcategorie_title}" onClick="showSubcategoryServices({$subcategorie_id})">
									</a>
        							<h4>{$subcategorie_title}</h4>
-->
        							<!--div><br><button class="btn btn-1 btn-1a" onClick="showSubcategoryServices({$subcategorie_id})">SERVICES ANSEHEN</button></div-->
<!--      	 						</li>
							{/loop}
						{/loop}
					</ul>
            		<div class="service_category_products"></div>
-->
				{/if}
            {*/elseloop*}

            {hook name="category.content-bottom" category="$category_id"}

        </article>
<div class="clearfix"></div>
        {loop name="subcategories" type="category" id=$category_id }
							{assign var="subcategorie_title" value=$TITLE}
       {/loop}
    </div>
    {hook name="category.bottom" category="$category_id" categorytitle="{$subcategorie_title}"}
	
<div style="color:#999; margin:10px">
    <small>{$subcategorie_title}&nbsp; im Hausfabrik Online-Shop versandkostenfrei bestellen.
Unser Online-Shop bietet eine große Auswahl an Produkten von führenden Markenherstellern wie Grohe, Laufen, Vaillant, Austria Email und vielen mehr an. Neben mehr als 2500 Produkten können Sie auch eine Vielzahl an Service-Leistungen bei der Hausfabrik bestellen. 
Die Vorteile der Hausfabrik im Überblick:
<ul>
    <li> Standartlieferungen innerhalb von 1-3 Werktagen </li>
    <li> Entscheiden Sie sich für die Zahlungsmethode Ihrer Wahl (PayPal, Sofortüberweisung, Nachnahme, ...) </li>
    <li> Termine für Serviceleistungen einfach online buchen </li>
    <li> Kostenlose Beratung vom Hausfabrik Team  </li>
    <li> 40 Jahre Erfahrung im Heizungsbereich </li>
</ul>

Im Hausfabrik Online-Shop finden Sie alles, was Sie für Ihr neues, modernes Bad benötigen. Neben zahlreichen Badarmaturen von dem Top-Hersteller Grohe finden Sie auch eine große Auswahl an Waschbecken, Toiletten und Badewannen. Unser Sortiment enthält weiters auch Ersatz- sowie Montageteile für Sanitär-Produkte.
Sie wünschen sich eine professionelle Beratung für Ihre Badplanung oder möchten sich über bestimmte Produkteigenschaften erkundigen? Wir helfen Ihnen gerne weiter! Kontaktieren Sie uns einfach per Live-Chat, E-Mail oder Telefon unter 0800/022573.
Gemeinsam setzen wir Ihr Projekt und Ihre individuellen Wünsche um, mit einer großen Auswahl an Produkten zu den günstigsten Preisen. Wir freuen uns, dass Sie sich für den Hausfabrik Online-Shop entschieden haben. 




Für Sanitärkategorien anwendbar, Text kann umgeschrieben werden für Heizung und Klima. Den Text für jede Unterkategorie anzupassen ist meiner Meinung nach ein Schritt für die Zukunft. Im Moment reicht das aus. 
</small>
</div>	

	
	    <script>

    function showSubcategoryServices(id) {
    	$subcategory = $('.service_category_products'+id);
    				if($($subcategory).is(':visible') == true)$($subcategory).hide();
    				else $($subcategory).show();
    				if($($subcategory).children().length == 0){
    					$.ajax({
    						traditional : true,
    						type: 'post',
    						data: 'category='+id,
    						url: 'konfigurator/services'
    					})
    					.done(function (data, textStatus, request) {
    					$('.og-expander-inner').html(data);
    					})
    					.fail(function (jqXHR, textStatus, errorThrown) {
    						if (typeof jqXHR.responseJSON !== 'undefined') {
    							if (jqXHR.responseJSON.hasOwnProperty('form')) {
    								$('#form_body').html(jqXHR.responseJSON.form);
    							}
    							$('.form_error').html(jqXHR.responseJSON.message);
    						} else {
    							alert(errorThrown);
    						}
    					});
    				}
    	}
 	</script>
{/block}


{block name="stylesheet"}
{hook name="category.stylesheet"}
{hook name="criteria-search.search-css"}
<style>
.category-container {
	display: block;
    /* list-style-type: disc; */
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    width: 100%;
    margin-bottom:0px;
}

.main-category{
	color: #fff;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    display: list-item;
    text-align: -webkit-match-parent;
}
.category-head{
    z-index: 3;
    background: #3784bf;
   /*  padding: 5px 15px; */
    height: 45px;
    font-size: 14px;
    line-height: 1.2em;
    display: table;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    transition: background-color .2s;
}
.category-head ::after{
	width: 45px;
    height: 45px;
    background: url(http://best-match.grohe.com/images/icons/arrow-filter.png) center center no-repeat;
    background-size: 10px 16px;
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}
.category-head span{
	display: table-cell;
    vertical-align: middle;
    padding-right: 60px;
    color: #fff;
    font-weight:normal;
}
.category-head span:after{
	display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: 0 0;
    z-index: 2;
    content: '';
    transition: bottom .3s,background-color .1s;
}
.category-head span.active{
    display: table-cell;
    vertical-align: middle;
    padding-right: 60px;
}
.category-head span.active:after{
	position: absolute;
    width: 32px;
    height: 32px;
    content: '';
    top: 2px;
    right: 20px;
    background: url(http://best-match.grohe.com/images/icons/filter-checked.jpg) center center no-repeat;
    background-size: 32px 32px;
    border-radius: 50%;
}
.category-head span div{
	display: block;
}
.options-container {
	display: none;
	position: relative;
    background-color: #111f38;
    overflow: hidden;
    display: none;
    margin-bottom: 10px;
    z-index: 3;
    right: 0;
    max-height: 225px;
    display: none;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
}
.filter_row .col_md_12{
padding-left:0px;
}
.options_collection{
	position: relative;
	min-height: 1px;
}

.configurator-title{
	font-size: 24px;
    font-family: "quicksand"!important;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    text-align: left;
}
.configurator-description{
    font-family: 'Open Sans', sans-serif;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    overflow-wrap: normal;
	overflow-wrap: break-word;
}
.tab-pane .checkbox{
	margin-top: 0px;
	min-height:200px;
}
ul.category-container:first-child {
	margin-left: 0 !important;
}
.category-container li.active a,
.category-container li.active a:hover{
	background-color: #111f38;
	color: #fff;
}
.category-container li.active a span{
	color: #fff;
}
.category-container li{
    padding-left: 0px;
    border-left-width: 0px;
}
.match-filter ul.nav-tabs{
	/* background-color: #111f38; */
	background-color: #fff;
	border-bottom: none;
}
 .nav li a:hover {
	/* background-color: transparent; */
	background-color: #3784bf;
}
.category-container .filter{
	background
}
.nav-tabs li.active a:focus{
	background-color: #111f38;
	color:#fff;
}
.tab-content{
	clear: both;
  	overflow: hidden;
}
.tab-content label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
  color: #fff;
}
.tab-content input[type="checkbox"]:empty {
  display: none;
}
.tab-content input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 1.3em;
  cursor: pointer;
  text-align: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 31px;
}
.tab-content input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2em;
  background: #D1D3D4;
  border-radius: 1px 0 0 1px;
}
.tab-content input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #fff;
}
.tab-content .checkbox input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  /* color: #C2C2C2; */
  color: #fff;
}
.tab-content .checkbox input[type="checkbox"]:checked ~ label {
  /* color: #777; */
  color: #fff;
      font-weight: bold;
}
.tab-content .checkbox input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}
.tab-content .checkbox input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}
.tab-content .checkbox input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}
.checkbox span{
	display: block;
	position: relative;
}
.checkbox p{
    display: block;
    float: left;
    position: relative;
    top: 2px;
    width: 150px;
    height: 150px;
}
.checkbox p img{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}

</style>
{/block}

{block name="after-javascript-include"}
<script src="{javascript file='assets/dist/js/vendors/grid.js'}"></script>
   <script>
	$(function() {
		Grid.init();
	});
   </script>
   <script type="text/javascript">
   $('.match-filter .main-category').each(function() {
	   var clicks = 0;
       var mainBtn     = $(this);
       var nextOptions = mainBtn.closest('.category-container').next('.options-container');

       mainBtn.on('click', function() {

           if (mainBtn.hasClass('disabled')) {
               return;
           }

           if (mainBtn.hasClass('active')) {
               mainBtn.removeClass('active');

               $('.options.active').slideUp(500,function() {
                   nextOptions.removeClass('active');
               });
           } else {
               var activeOptions = $('.options[data-options-id="' + mainBtn.data('main-cat-id') + '"]');

               $('.match-filter .main-category').removeClass('active');
               mainBtn.addClass('active');

           }
       });
   });
   $('.options-container .checkbox').each(function() {
	   $(this).on('click', function() {
		   console.log('Option selected!');
	   });
   });
   
   $('ul.nav-tabs li:first-child').addClass("active");
   $(".tab-content div.fade").first().addClass("active in");
   
   $('.nav-tabs li a').click(function() {
	   $(this).addClass('active').siblings().removeClass('active');
	    console.log($(this).attr('href'));
	    $('.checkbox label p').innerHTML = $('.checkbox label p img').outerHTML;
	    $(".tab-content .tab-pane").removeClass("active");
	    $(".tab-content" . '#'.$(this).attr('href')).addClass("active");
	});
   
   </script>
{hook name="category.after-javascript-include"}
{hook name="criteria-search.search-js"}

{/block}

{block name="javascript-initialization"}
{hook name="category.javascript-initialization"}
{/block}
