{extends file="layout.tpl"}

{block name="main-content"}

<div class="main">
    <article class="col-main {$smarty.get.mode|default:"grid"}" role="main">
        {assign var="arrSelection" value='-'|explode:$smarty.server.REQUEST_URI}             
        {assign var="idSelection" value="{$arrSelection[{$arrSelection|@count}-2]}"}

        <div id="category-products">
             <div id="category-products">
                <div class="products-content">
                    {loop name="selection_list" type="selection_list" visible=true id={$idSelection}}
                        {$SELECTION_HEADER|unescape:'html' nofilter}
                    {/loop}
                        <ul class="list-unstyled row">
                            {loop name="selection_product" type="selection_product_related" selection_id={$idSelection}}
                                {loop name="product.details" type="product" id=$PRODUCT_ID}
                                        {include file="includes/single-product.html" hasBtn=true hasDescription=false hasQuickView=false width="819" height="819"}
                                {/loop}
                            {/loop}
                        </ul>
                </div>
                {loop name="selection_list" type="selection_list" visible=true id={$idSelection}}
                    {$SELECTION_FOOTER|unescape:'html' nofilter}
                {/loop}
            </div>
        </div>
    </article>
</div>   
{/block}