<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<meta name="viewport" content="initial-scale=1.0">
</head>
<body>
<div style="margin:auto;text-align:center;padding-top:50px;">
<a href="itms-services://?action=download-manifest&url=https://hausfabrik.at/cache/manifest.plist">
<button type="button" class="btn btn-default btn-lg" style="width:300px">
  <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Install Vortex
</button>
</a>
</div>
</body>
</html>