<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <forms>
    </forms>

    <services>
        <service id="router.front" class="%router.class%">
            <argument type="service" id="router.module.xmlLoader"/>
            <argument>Front/Config/front.xml</argument>
            <argument type="collection">
                <argument key="cache_dir">%kernel.cache_dir%</argument>
                <argument key="debug">%kernel.debug%</argument>
            </argument>
            <argument type="service" id="request.context"/>
            <tag name="router.register" priority="128"/>
        </service>
    </services>
    <!--
    DEPRECATED - implemented to inform the user the order exists and making a new payment might result in multiple payments for the same order
    
    <hooks>
    	<hook id="existing.order.message" class="Front\Hook\Front\ExistingOrderMessage">
			<tag name="hook.event_listener" event="existing_order_message" type="front"  method="viewAction" />
		</hook>
    </hooks>-->
</config>
