AddDefaultCharset UTF-8

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE text/x-component
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/richtext
    AddOutputFilterByType DEFLATE image/svg+xml
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/xsd
    AddOutputFilterByType DEFLATE text/xsl
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE image/x-icon
    AddOutputFilterByType DEFLATE application/json
</IfModule>

<IfModule mod_expires.c>
 ExpiresActive On
 ExpiresByType text/css "access plus 1 day"
 ExpiresByType text/javascript "access plus 1 day"
 ExpiresByType text/html "access plus 1 day"
 ExpiresByType application/javascript "access plus 1 day"
 ExpiresByType image/gif "access plus 1 day"
 ExpiresByType image/jpeg "access plus 1 day"
 ExpiresByType image/png "access plus 1 day"
 ExpiresByType image/x-icon "access plus 1 month"
</IfModule>
<ifmodule mod_headers.c>
 <filesmatch "\\.(ico|jpe?g|png|gif|swf)$">
  Header set Cache-Control "max-age=604800, public"
 </filesmatch>
 <filesmatch "\\.(css)$">
  Header set Cache-Control "max-age=86400, public"
 </filesmatch>
 <filesmatch "\\.(js)$">
  Header set Cache-Control "max-age=86400, private"
 </filesmatch>
</ifmodule>


<IfModule mod_rewrite.c>
    RewriteEngine On

    # SEO, remove the subdomain www in URL
    # Exemple : http://www.yourdomain.com/contact redirect 301 to http://yourdomain.com/contact
    # To activate uncomment the following two lines
    #RewriteCond %{HTTP_HOST} ^www.yourdomain.com$
    #RewriteRule ^(.*) http://yourdomain.com/$1 [QSA,L,R=301]

    # SEO, add the subdomain www in URL
    # Exemple : http://yourdomain.com/contact redirect 301 to http://www.yourdomain.com/contact
    # To activate uncomment the following two lines
    #RewriteCond %{HTTP_HOST} ^yourdomain.com$
    #RewriteRule ^(.*) http://www.yourdomain.com/$1 [QSA,L,R=301]

    # SEO, to avoid duplicate content with index.php in url
    # Exemple : http://www.yourdomain.com/index.php/contact redirect 301 to http://www.yourdomain.com/contact
    RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
    RewriteRule (.?)index\.php/(.*) /$1$2 [R=301,NE,L]

    # If thelia is installed in a subdirectory (e.g., thelia2)
    # define the RewriteBase below to get a proper URL rewriting
    # RewriteBase /thelia2

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php [QSA,L]
    RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization},last]
</IfModule>